<h6 href="/" class="d-flex">
  <i class="bi bi-receipt fs-5" style="margin-right: 13px; margin-top: -2.5px;"></i>
  <span style="font-size: 17px;">Pedidos</span>
</h6>

<div class="container-full-width mb-4 mt-3 p-3 background-filter">
  <%= form_with url: admin_pedidos_path, method: :get, local: true, class: "row gy-2 gx-3 align-items-end" do %>
    <div class="col-md-4">
      <label class="form-label" style="margin-bottom: -10px;">Nome do aluno</label>
      <%= text_field_tag :aluno, params[:aluno], class: "form-control form-control-sm" %>
    </div>

    <div class="col-md-2">
      <label class="form-label" style="margin-bottom: -10px;">Ordernar por</label>
      <%= select_tag :order_by, options_for_select([["Prazos mais apertados", "apertados"], ["Envios recentes", "recentes"]], params[:order_by]), value: params[:order_by], class: "form-select form-select-sm" %>
    </div>

    <div class="col-md-2">
      <label class="form-label" style="margin-bottom: -10px;">Tipo de Redação</label>
      <%= select_tag :prova, options_for_select([["Enem", "enem"], ["Fuvest", "usp"], ["Unicamp", "unicamp"], ["Unesp", "unesp"]], params[:prova]), value: params[:prova], include_blank: "Todos", class: "form-select form-select-sm" %>
    </div>

    <div class="col-md-3">
      <label class="form-label" style="margin-bottom: -10px;">Prazo da correção</label>
      <div class="d-flex gap-2">
        <%= date_field_tag :data_inicial, params[:data_inicial], class: "form-control form-control-sm" %>
        <%= date_field_tag :data_final, params[:data_final], class: "form-control form-control-sm" %>
      </div>
    </div>

    <!-- Botão -->
    <div class="col-md-1 justify-content-end d-flex">
      <button type="submit" class="btn btn-dark d-flex justify-content-center align-items-center w-75 px-2 fs-6" style="border-radius: 3px; white-space: nowrap; padding-top: 4px; margin-bottom: 1px;">
        <i class="bi bi-search" style="font-weight: 500; font-size: 14px;"></i>
      </button>
    </div>
  <% end %>
</div>

<% @pedidos.each_with_index do |pedido, index| %>
  <div class="card mt-3 shadow-sm border p-2">
    <div class="card-header d-flex justify-content-between align-items-center bg-white" style="cursor: pointer;" id="togglePedido<%= index %>">
      <div>
        <p class="m-0" style="font-size: 13px; font-weight: 500"><%= pedido.created_at.in_time_zone('America/Sao_Paulo').strftime('%d/%m/%Y %H:%M') %></p>
        <div class="d-flex">
          <i class="bi bi-check2-circle fs-6 text-success"></i>
          <strong class="text-success" style="font-size: 13px; margin-left: 6px; margin-top: 5px; font-weight: 600"><%= pedido.status.upcase == "FINALIZADO" ? "Finalizado" : "Pendente" %></strong>
        </div>
        <p class="m-0 mt-1" style="font-size: 13px; font-weight: 600">Código: <%= pedido.code %></p>
        <p class="m-0 mt-1 mb-2 text-secondary" style="font-size: 12px">
          <%= pedido.cursos_count %> Cursos • Valor Total: <%= number_to_currency(pedido.total, unit: "R$", separator: ",", delimiter: ".", format: "%u %n") %>
        </p>
      </div>
      <i id="icon<%= index %>" class="bi bi-chevron-down fs-4 transition-rotate"></i>
    </div>

    <div id="pedidoDetalhes<%= index %>" class="collapse">
      <div class="card-body">

        <div style="width: 100%; gap: 10px; display: flex;">
          <% Curso.where(id: pedido.cursos_ids).each do |curso| %>
            <div class="col align-items-center justify-content-center w-50" style="margin-top: 2px;">
              <div class="container card shadow mb-2 rounded-4 w-100 p-2">
                <a style="text-decoration: none; color: black">
                  <div class="row g-0">
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                      <% if curso.imagem.present? %>
                        <%= image_tag curso.imagem, class: "", alt: curso.name, style: "max-height: 80px; max-width: 100%; object-fit: contain;" %>
                      <% end %>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title" style="font-size: 14px; font-weight: 350"><%= curso.name %></h5>
                        <strong class="mb-1" style="font-size: 13px; font-weight: 600;" >R$ <%= number_with_precision(curso.value, precision: 2, separator: ",") %></strong>
                        <span class="preco-riscado" style="font-size: 13px;">R$ <%= number_with_precision(curso.value_riscado, precision: 2, separator: ",") %></span>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('[id^="togglePedido"]').forEach((header, index) => {
      const icon = document.getElementById(`icon${index}`);
      const target = document.getElementById(`pedidoDetalhes${index}`);

      header.addEventListener('click', function () {
        const bsCollapse = bootstrap.Collapse.getInstance(target) || new bootstrap.Collapse(target, { toggle: false });

        if (target.classList.contains('show')) {
          bsCollapse.hide();
          icon.style.transform = 'rotate(0deg)';
        } else {
          bsCollapse.show();
          icon.style.transform = 'rotate(180deg)';
        }
      });
    });
  });
</script>