<% if @user_curso.present? %>
  <div class="modal fade" id="progressModal" tabindex="-1" aria-labelledby="progressModalLabel" aria-hidden="true" style="z-index: 1101">
    <div class="modal-dialog modal-md">
      <div class="modal-content p-3">
        <div class="modal-header">
          <h5 class="modal-title" id="progressModalLabel">Seu Progresso</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>

        <div class="modal-body d-flex mt-3" style="gap: 40px">
          <div style="width: 50%; height: 100%">
            <canvas id="progressChart" class="text-center" style="width: 90%; height: 50%;"></canvas>
            <p class="mt-3 fs-6 mx-3 text-success">Você já assistiu <strong><%= @user_curso.try(:progresso) || 0 %>%</strong></p>
          </div>
          <div style="width: 50%;">
            <div class="w-100 d-flex">
              <p class="mt-3 fs-2"><%= @user_curso.total_aulas_vistas %>/<%= @user_curso.total_aulas.zero? ? @user_curso.curso.aulas.count : @user_curso.total_aulas %></p>
              <p class="mt-4 fs-5 mx-2 text-secondary"> Aulas</p>
            </div>
            <div class="w-100 d-flex">
              <p class="mt-3 fs-2"><%= current_user.user_words.where(curso_id: @user_curso.curso_id, concluido: true).count %>/<%= @user_curso.curso.words.count %></p>
              <p class="mt-4 fs-5 mx-2 text-secondary"> Redações</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>