<nav>
  <div class="scroll" style="margin-bottom: -40px;">
    <div class="scroll_container">
      <% 8.times.each do |item| %>
        <div class="scroll_item">10% OFF NA PRIMEIRA COMPRA</div>
      <% end %>
    </div>
  </div>

  <div class="container container-flex">
    <i class="bi bi-list fs-3 nav-icone hover"></i>
    <div id="mobileSidebar" class="mobile-sidebar">
      <button id="closeSidebar" class="close-btn text-dark">&times;</button>
      <nav class="mobile-menu-links">
        <a href="/" class="<%= 'active' if current_page?('/')  %>" >Home</a>
        <a href="/apresentacao" class="<%= 'active' if current_page?('/apresentacao')  %>" >Quem somos</a>
        <a href="/temas" class="<%= 'active' if current_page?('/temas') %>">Temas de Redação</a>
        <a href="/acesso_livre" class="<%= 'active' if current_page?('/acesso_livre') %>">Acesso Livre</a>
        <a href="/cursos" class="<%= 'active' if current_page?('/cursos') || @curso.present? %>">Cursos</a>
      </nav>
    </div>
    <div id="overlay" class="overlay"></div>

    <div class="logo">
      <a href="/">
        <img src="/images/logo_preto.png" alt="Logo" style="display: flex;" class="width-mobile">
      </a>
    </div>
    <nav class="menu">
      <a href="/apresentacao" class="menu-link <%= 'active' if current_page?('/apresentacao')  %>" >Quem somos</a>
      <a href="/temas" class="menu-link <%= 'active' if current_page?('/temas') %>">Temas de Redação</a>
      <a href="/acesso_livre" class="menu-link <%= 'active' if current_page?('/acesso_livre') %>">Acesso Livre</a>
      <a href="/cursos" class="menu-link <%= 'active' if current_page?('/cursos') || @curso.present? %>">Cursos</a>
    </nav>
    <div class="navbar-buttons" style="margin-top: -11px; margin-right: 18px; display: flex; gap: 10px; align-items: center;">
      <% if current_user.present? %>
        <div class="position-relative" style="margin-top: 5px; margin-right: -15px;">
          <!-- BOTÃO DE FAVORITOS -->
          <div class="btn fav-toggle" id="fav-toggle" style="cursor: pointer; position: relative; border: none">
            <i class="bi bi-balloon-heart fs-4"></i>
            <% if current_user.favoritos %>
              <% unless current_user.favoritos.count.zero? %>
                <span class="bolinha fs-6 position-absolute top-0" style="font-weight: 600">
                  <span class="bolinha-span" style="margin-top: 1px;"> <%= current_user.favoritos.count %></span>
                </span>
              <% end %>
            <% end %>
          </div>

          <%= render partial: 'layouts/shared/modal_favoritos' %>
        </div>

        <div class="position-relative">
          <!-- BOTÃO DO CARRINHO -->
          <div class="btn cart-toggle" id="cart-toggle" style="cursor: pointer; position: relative; border: none">
            <i class="bi bi-cart2 fs-4"></i>
            <% if @cart.present? %>
              <% unless @cart.cursos.count.zero? %>
                <span class="bolinha fs-6 position-absolute top-0" style="font-weight: 600">
                  <span class="bolinha-span" style="margin-top: 1px;"> <%= @cart.cursos.count %></span>
                </span>
              <% end %>
            <% end %>
          </div>

          <%= render partial: 'layouts/shared/modal_cart' %>
        </div>

        <!-- Ícone de Perfil com Dropdown -->
        <div class="user-dropdown">
          <!-- Ícone do usuário -->
          <button class="user-dropdown-button" aria-label="Menu do usuário">
            <i class="bi bi-person-circle user-icon fs-4"></i>
            <span class="email-text mobile-none"><%= current_user.nome.upcase %></span>
          </button>

          <!-- Dropdown -->
          <div class="user-dropdown-menu">
            <div class="arrow-up"></div>
            <%= link_to user_dashboard_path do %>
              <i class="bi bi-mortarboard fs-6" style="margin-right: 10px;"></i>
              <span style="font-size: 14px;">Área do Aluno</span>
            <% end %>

            <%= link_to user_pedidos_path do %>
              <i class="bi bi-card-text fs-6" style="margin-right: 10px;"></i>
              <span style="font-size: 14px;">Meus pedidos</span>
            <% end %>

            <%= link_to user_redacoes_path do %>
              <i class="bi bi-book fs-6" style="margin-right: 10px;"></i>
              <span style="font-size: 14px;">Minhas redações</span>
            <% end %>

            <%= link_to user_dashboard_path do %>
              <i class="bi bi-collection-play fs-6" style="margin-right: 10px;"></i>
              <span style="font-size: 14px;">Biblioteca</span>
            <% end %>

            <%= link_to user_settings_path do %>
              <i class="bi bi-gear-wide-connected fs-6" style="margin-right: 10px;"></i>
              <span style="font-size: 14px;">Configurações</span>
            <% end %>

            <%= link_to '#', onclick: 'logout(); return false;' do %>
              <i class="bi bi-box-arrow-left fs-6" style="margin-right: 10px;"></i>
              <span style="font-size: 14px;">Sair</span>
            <% end %>
            <div class="card-footer bg-white text-center py-2 shadow border">
            </div>
          </div>
        </div>
      <% else %>
        <%= button_to "Quero me inscrever", new_user_registration_path, class: "btn btn-light text-custom-nav fw-light", style: "font-size: 15px", method: :get %>
        <a class="btn btn-dark text-custom-nav sou-aluno d-flex background-hover" style="font-size: 15px; padding: 12px" onclick="showLoadingAndRedirectUser()">
          <i class="bi bi-mortarboard fs-6 mobile-none" style="margin-right: 8px;"></i>
          Já sou aluno
        </a>
      <% end %>
    </div>
  </div>
  <div class="loader" id="loadingOverlay">
    <div class="spinner-loader"></div>
  </div>
</nav>

<% unless current_page?(root_path) %>
  <div class="container d-flex mt-2 mobile-marcador">
    <p class="text-marcador" style="margin-top: -74px; margin-left: 31px; font-size: 14px;">Home <span style="margin-right: 10px;"> </span>● <span class="text-secondary" style="margin-left: 10px;"><%= @title_page %> </span> </p>
  </div>
<% end %>

<div class="full-width-container"style="margin-bottom: 30px; margin-top: -60px;">
  <% if flash[:noticia] %>
    <div class="alert alert-success alert-dismissible fade show text-center mb-3" role="alert" style="margin-top: -10px">
      <%= flash[:noticia] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <% if flash[:alerta] %>
    <div class="alert alert-danger alert-dismissible fade show text-center mb-3" role="alert" style="margin-top: -10px">
      <%= flash[:alerta]%>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>

<script>
  function showLoadingAndRedirectUser() {
    const overlay = document.getElementById('loadingOverlay');
    overlay.style.display = 'flex';

    setTimeout(() => {
      window.location.href = "/user/dashboard";
      overlay.style.display = 'none';
    }, 1000);
  }

  document.addEventListener("DOMContentLoaded", function () {
    const toggle = document.getElementById("cart-toggle");
    const dropdown = document.getElementById("cart-dropdown");

    let timeout;

    toggle.addEventListener("click", () => {
      clearTimeout(timeout);
      if (dropdown.style.display === "none" || dropdown.style.display === "") {
        dropdown.style.display = "block";
      } else {
        dropdown.style.display = "none";
      }
    });
  });

  document.addEventListener("DOMContentLoaded", function () {
    const toggle = document.getElementById("fav-toggle");
    const dropdown = document.getElementById("favoritos-dropdown");

    let timeout;

    toggle.addEventListener("click", () => {
      clearTimeout(timeout);
      if (dropdown.style.display === "none" || dropdown.style.display === "") {
        dropdown.style.display = "block";
      } else {
        dropdown.style.display = "none";
      }
    });
  });

  function logout() {
    fetch("/users/sign_out", {
      method: "DELETE",
      headers: {
        "X-CSRF-Token": document.querySelector('meta[name="csrf-token"]').content,
        "Content-Type": "application/json"
      },
      credentials: "same-origin"
    }).then(() => {
      window.location.href = "/";
    }).catch((error) => {
      console.error("Erro ao fazer logout:", error);
    });
  }

  document.addEventListener("DOMContentLoaded", function () {
    const sidebar = document.getElementById("mobileSidebar");
    const overlay = document.getElementById("overlay");
    const openBtn = document.querySelector(".nav-icone");
    const closeBtn = document.getElementById("closeSidebar");

    openBtn.addEventListener("click", function () {
      sidebar.classList.add("active");
      overlay.classList.add("active");
    });

    closeBtn.addEventListener("click", function () {
      sidebar.classList.remove("active");
      overlay.classList.remove("active");
    });

    overlay.addEventListener("click", function () {
      sidebar.classList.remove("active");
      overlay.classList.remove("active");
    });
  });

</script>
