<nav>
  <div class="scroll" style="margin-bottom: -40px;">
    <div class="scroll_container">
      <% 8.times.each do |item| %>
        <div class="scroll_item">10% OFF NA PRIMEIRA COMPRA</div>
      <% end %>
    </div>
  </div>

  <div class="container container-flex">
    <i class="bi bi-list fs-1 nav-icone"></i>
    <div class="logo">
      <a href="/">
        <img src="/images/logo_preto.png" alt="Logo" style="display: flex;" class="width-mobile">
      </a>
    </div>
    <nav class="menu">
      <a href="/" class="menu-link <%= 'active' if current_page?('/') || current_page?('/cursos') || @curso.present? %>">Cursos</a>
      <a href="/apresentacao" class="menu-link <%= 'active' if current_page?('/apresentacao')  %>" >Quem somos</a>
      <a href="/temas" class="menu-link <%= 'active' if current_page?('/temas') %>">Temas de Redação</a>
      <a href="/acesso_livre" class="menu-link <%= 'active' if current_page?('/acesso_livre') %>">Acesso Livre</a>
    </nav>
    <div class="navbar-buttons" style="margin-top: -11px; margin-right: 16px; display: flex; gap: 10px; align-items: center;">
      <% if current_user.present? %>
        <!-- Ícone de Perfil com Dropdown -->
        <div class="user-dropdown">
          <!-- Ícone do usuário -->
          <button class="user-dropdown-button" aria-label="Menu do usuário">
            <i class="bi bi-person-circle user-icon fs-1"></i>
          </button>

          <!-- Dropdown -->
          <div class="user-dropdown-menu">
            <div class="arrow-up"></div>
            <span style="font-weight: bold; padding: 10px; display: block"><%= current_user.nome %></span>
            <hr style="margin: 0;">
            <%= link_to 'Área do Aluno', user_dashboard_path %>
            <%= link_to 'Meus pedidos', user_pedidos_path %>
            <%= link_to 'Configurações', user_settings_path %>
            <%= link_to 'Sair', '#', onclick: "logout()" %>
          </div>
        </div>
        <div class="position-relative">
          <!-- BOTÃO DO CARRINHO -->
          <div class="btn cart-toggle" id="cart-toggle" style="cursor: pointer; position: relative;">
            <i class="bi bi-cart2 fs-1"></i>
            <% if @cart.present? %>
              <span class="bolinha fs-6 position-absolute top-0" style="font-weight: 500">
                <%= @cart.cursos.count %>
              </span>
            <% end %>
          </div>

          <!-- MINI MODAL DO CARRINHO -->
          <div id="cart-dropdown" class="card cart-card shadow position-absolute end-0 mt-2">
            <div class="card-body">
              <h6 class="card-title">Carrinho</h6>
              <hr>
              <% if @cursos.present? %>
                <ul class="list-group mb-3">
                  <% @cursos.each do |curso| %>
                    <li class="list-group-item d-flex align-items-center p-2">
                      <a href="/cursos/<%= curso.id %>/edit" style="text-decoration: none;" class="text-dark d-flex w-100 select-curso">
                        <% if curso.imagem.present? %>
                          <%= image_tag curso.imagem.variant(resize_to_limit: [500, 500]).processed, class: "imagem-carrinho border" %>
                        <% end %>
                        <div style="margin-left: 10px; width: 75%">
                          <h6 class="fw-light mt-1"><%= curso.name %></h6>
                          <p class="price-bold"> <%= number_to_currency(curso.value, unit: "R$", separator: ",", delimiter: ".", format: "%u %n") %> <p>
                        </div>
                        <div>
                          <%= form_with url: remove_from_cart_path(curso), method: :delete, local: true do %>
                            <%= button_tag type: "submit", class: "btn btn-danger text-white p-1 mt-0", style: "border-radius: 5px;" do %>
                              <i class="icon-lixeira bi bi-trash fs-5" style="font-weight: 2000"></i>
                            <% end %>
                          <% end %>
                        </div>
                      </a>
                    </li>
                  <% end %>
                </ul>

              <div class="preco mt-3 d-flex justify-content-between">
                <span class="preco-atual">Valor dos Produtos</span>
                <span class="preco-antigo"><%= number_to_currency(@cart.total, unit: "R$", separator: ",", delimiter: ".", format: "%u %n") %></span>
              </div>
                <%= link_to 'Finalizar Compra', '/user/carrinho', class: "btn btn-comprar text-white w-100", style: "background-color:#1d1d1d; border-radius: 5px" %>
              <% else %>
                <p class="text-muted">Seu carrinho está vazio...</p>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <%= button_to "Quero me inscrever", new_user_registration_path, class: "btn btn-light text-custom-nav fw-light", method: :get %>
        <a class="btn btn-dark text-custom-nav sou-aluno" onclick="showLoadingAndRedirectUser()">Já sou aluno</a>
      <% end %>
    </div>
  </div>

  <div class="loader" id="loadingOverlay">
    <div class="spinner-loader"></div>
  </div>
</nav>

<script>
  function showLoadingAndRedirectUser() {
    const overlay = document.getElementById('loadingOverlay');
    overlay.style.display = 'flex';

    setTimeout(() => {
      window.location.href = "/user/dashboard";
      overlay.style.display = 'none';
    }, 1000);
  }

  document.addEventListener("DOMContentLoaded", function () {
    const toggle = document.getElementById("cart-toggle");
    const dropdown = document.getElementById("cart-dropdown");

    let timeout;

    toggle.addEventListener("click", () => {
      clearTimeout(timeout);
      if (dropdown.style.display === "none" || dropdown.style.display === "") {
        dropdown.style.display = "block";
      } else {
        dropdown.style.display = "none";
      }
    });
  });

  function logout() {
    fetch("/users/sign_out", {
      method: "DELETE",
      headers: {
        "X-CSRF-Token": document.querySelector('meta[name="csrf-token"]').content,
        "Content-Type": "application/json"
      },
      credentials: "same-origin"
    }).then(() => {
      window.location.href = "/";
    }).catch((error) => {
      console.error("Erro ao fazer logout:", error);
    });
  }
</script>
