<!-- MINI MODAL DO CARRINHO -->
<div id="cart-dropdown" class="card cart-card shadow position-absolute end-0 mt-2" style="width: 400px; display: none; z-index: 1000;">
  <div class="card-body p-3">
    <div class="d-flex justify-content-between">
      <h6 style="margin-top: 4px; font-size: 14px;">Carrinho</h6>
      <button type="button" class="btn-close justify-content-end" style="font-size: 13px;" data-bs-dismiss="alert" aria-label="Close" onclick="document.getElementById('cart-dropdown').style.display='none'"></button>
    </div>
    <hr>
    <% if @cursos.present? %>
      <ul class="list-group mb-3">
        <% @cursos.each do |curso| %>
          <li class="list-group-item d-flex align-items-center p-2">
            <a href="/cursos/<%= curso.id %>/edit" style="text-decoration: none;" class="text-dark d-flex w-100 select-curso">
              <% if curso.imagem.present? %>
                <%= image_tag curso.imagem.variant(resize_to_limit: [500, 500]).processed, class: "imagem-carrinho border" %>
              <% end %>
              <div style="margin-left: 10px; width: 75%">
                <h6 class="fw-light mt-2" style="font-size: 13px;"><%= curso.name %></h6>
                <p class="price-bold"> <%= number_to_currency(curso.value, unit: "R$", separator: ",", delimiter: ".", format: "%u %n") %><strong class="fw-light" style="font-size: 13px;"> no pix</strong> <p>
                <div style="margin-top: 20px; display: flex">
                  <span class="preco-parcelado" style="margin-top: -23px;">R$ 10,00 <span class="fw-light" style="font-size: 12px;">x10<strong> sem juros</strong></span></span>
                </div>
              </div>
              <div>
                <%= form_with url: remove_from_cart_path(curso), method: :delete, local: true do %>
                  <%= button_tag type: "submit", class: "btn btn-danger text-white p-1 mt-0 d-flex", style: "border-radius: 3px;" do %>
                    <i class="icon-lixeira bi bi-trash" style="font-weight: 1000; font-size: 15px; margin-top: 3px;"></i>
                  <% end %>
                <% end %>
              </div>
            </a>
          </li>
        <% end %>
      </ul>

    <div class="preco mt-3 d-flex justify-content-between">
      <span class="preco-atual">Subtotal</span>
      <span class="preco-antigo"><%= number_to_currency(@cart.total, unit: "R$", separator: ",", delimiter: ".", format: "%u %n") %></span>
    </div>
      <%= link_to 'Finalizar Compra', '/user/carrinho', class: "btn btn-comprar text-white w-100", style: "background-color:#1d1d1d; border-radius: 5px; font-size: 13px;" %>
    <% else %>
      <p style="font-size: 12px;" class="text-muted">Seu carrinho está vazio...</p>
    <% end %>
  </div>
  <div class="card-footer bg-white text-center py-2">
  </div>
</div>