<div class="mt-3" style="margin-left: 20px">
  <h5 href="/">
    <i class="bi bi-receipt fs-4" style="margin-right: 10px"></i>
    <span style="position: relative; top: -2px; font-size: 18px;">Meus Pedidos</span>
  </h5>
</div>

<div style="flex-direction: column; gap: 0px; width: 95%; white-space: nowrap; margin-left: 22px">
  <% if @pedidos.present? %>
    <% @pedidos.each_with_index do |pedido, index| %>
      <div class="card mt-3 shadow-sm border p-2">
        <div class="card-header d-flex justify-content-between align-items-center bg-white" style="cursor: pointer;" id="togglePedido<%= index %>">
          <div>
            <p class="m-0" style="font-size: 16px; font-weight: 500"><%= pedido.created_at.in_time_zone('America/Sao_Paulo').strftime('%d/%m/%Y %H:%M') %></p>
            <div class="d-flex">
              <i class="bi bi-exclamation-triangle fs-5 text-success"></i>
              <strong class="text-success" style="font-size: 15px; margin-left: 6px; margin-top: 5px; font-weight: 600"><%= pedido.status.upcase == "FINALIZADO" ? "Finalizado" : "Pendente" %></strong>
            </div>
            <p class="m-0 mt-1" style="font-weight: 600">Código: <%= pedido.code %></p>
            <p class="m-0 mt-1 mb-2 text-secondary" style="font-size: 12px">
              <%= pedido.cursos_count %> Cursos • Valor Total: <%= number_to_currency(pedido.total, unit: "R$", separator: ",", delimiter: ".", format: "%u %n") %>
            </p>
          </div>
          <i id="icon<%= index %>" class="bi bi-chevron-down fs-4 transition-rotate"></i>
        </div>

        <div id="pedidoDetalhes<%= index %>" class="collapse">
          <div class="card-body">

            <div style="width: 100%; gap: 10px; display: flex;">
              <% Curso.where(id: pedido.cursos_ids).each do |curso| %>
                <div class="col align-items-center justify-content-center w-50" style="margin-top: 2px;">
                  <div class="container card shadow mb-2 rounded-4 w-100 p-2">
                    <a style="text-decoration: none; color: black">
                      <div class="row g-0">
                        <div class="col-md-4 d-flex align-items-center justify-content-center">
                          <% if curso.imagem.present? %>
                            <%= image_tag curso.imagem, class: "", alt: curso.name, style: "max-height: 100px; max-width: 100%; object-fit: contain;" %>
                          <% end %>
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title" style="font-size: 17px; font-weight: 350"><%= curso.name %></h5>
                            <strong class="mb-5" style="font-size: 16px; font-weight: 600;" >R$ <%= number_with_precision(curso.value, precision: 2, separator: ",") %></strong>
                            <span class="preco-riscado">R$ <%= number_with_precision(curso.value_riscado, precision: 2, separator: ",") %></span>
                            <div class="d-flex mt-2">
                              <i class="bi bi-stopwatch fs-6 text-danger"></i>
                              <strong class="text-danger" style="font-size: 12px; margin-left: 6px; margin-top: 4px; font-weight: 600">
                                Expira em: <span class="countdown" data-expire="<%= current_user.user_cursos.where(curso_id: curso.id).first.data_fim.iso8601 %>">carregando...</span>
                              </strong>
                            </div>

                            <%= button_to player_user_curso_path(curso), method: :get, class: "btn text-dark p-1 position-absolute", style: "top: 10px; right: 15px; border-radius: 5px;" do %>
                              <i class="bi bi-three-dots-vertical fs-4"></i>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="d-flex mt-2">
      <i class="bi bi-exclamation-triangle fs-6 text-danger"></i>
      <p style="margin-left: -10px; margin-left: 8px;" class="text-danger">Você ainda não tem nenhum pedido...</p>
    </div>
  <% end %>
</div>

<br>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('[id^="togglePedido"]').forEach((header, index) => {
      const icon = document.getElementById(`icon${index}`);
      const target = document.getElementById(`pedidoDetalhes${index}`);

      header.addEventListener('click', function () {
        const bsCollapse = bootstrap.Collapse.getInstance(target) || new bootstrap.Collapse(target, { toggle: false });

        if (target.classList.contains('show')) {
          bsCollapse.hide();
          icon.style.transform = 'rotate(0deg)';
        } else {
          bsCollapse.show();
          icon.style.transform = 'rotate(180deg)';
        }
      });
    });
  });

  function startCountdown() {
    const countdownElems = document.querySelectorAll('.countdown');

    function updateCountdown() {
      const now = new Date();

      countdownElems.forEach(elem => {
        const expireDate = new Date(elem.getAttribute('data-expire'));
        let diff = expireDate - now;

        if (diff <= 0) {
          elem.textContent = 'Expirado';
          return;
        }

        const days = Math.floor(diff / (1000 * 60 * 60 * 24));
        diff -= days * (1000 * 60 * 60 * 24);
        const hours = Math.floor(diff / (1000 * 60 * 60));
        diff -= hours * (1000 * 60 * 60);
        const minutes = Math.floor(diff / (1000 * 60));
        diff -= minutes * (1000 * 60);
        const seconds = Math.floor(diff / 1000);

        elem.textContent = `${days}d ${hours}h ${minutes}min ${seconds}s`;
      });
    }

    updateCountdown();
    setInterval(updateCountdown, 1000);
  }

  document.addEventListener('DOMContentLoaded', startCountdown);

</script>
