<div class="aula nested-fields" data-new-record="<%= local_assigns[:new_record] ? "true" : "false" %>">
  <%= f.hidden_field :_destroy, class: "destroy-flag" %>
  <button type="button" class="btn btn-danger remove-aula mt-1 mb-2 w-100" style="border-radius: 10px;">
    <i class="bi bi-trash-fill fs-6"></i>
  </button>

  <div class="mb-1">
    <%= f.label :titulo, "Título da Aula", class: "form-label fw-light" %>
    <%= f.text_field :titulo, class: "form-control form-control-sm", style: "margin-top: -8px" %>
  </div>

  <% if f.object.video.attached? %>
    <div class="video-aula mt-2 w-100">
      <video width="245" height="140" controls>
        <source src="<%= url_for(f.object.video) %>" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
      </video>
    </div>
  <% end %>

  <div class="video-upload-wrapper mt-2">
    <label class="btn btn-dark d-flex align-items-center" style="border-radius: 10px;">
      <i class="bi bi-file-earmark-play-fill fs-3 me-2"></i>
      <span class="video-file-name fs-6 fw-light" style="position: relative; right: -5px">Escolher Vídeo</span>
      <%= f.file_field :video, class: "d-none video-upload-field" %>
    </label>
  </div>
</div>

<script>
  document.addEventListener("turbo:load", attachVideoUploadListeners);
  document.addEventListener("DOMContentLoaded", attachVideoUploadListeners);

  function attachVideoUploadListeners() {
    document.querySelectorAll(".video-upload-wrapper").forEach(function(wrapper) {
      const input = wrapper.querySelector(".video-upload-field");
      const label = wrapper.querySelector(".video-file-name");

      if (input) {
        input.addEventListener("change", function(event) {
          const fileName = event.target.files[0] ? event.target.files[0].name : "Escolher Vídeo";
          label.textContent = fileName;
        });
      }
    });
  }
</script>
