<%= form_with(model: [:admin, @curso], local: true, html: { class: "curso-form" }) do |form| %>
  <h5 style="margin-top: 3px; display: flex">
    <i class="bi bi-play-btn-fill text-dark fs-4" style="margin-right: 10px;  margin-top: -2px;"></i>
    <%= @curso.id.present? ? "Editar Curso - #{@curso.id}" : "Novo Curso" %>
  </h5>
  <%= render "actions", f: form %>
  <div style="width: 100%">
    <%= render partial: "layouts/shared/errors", locals: { resource: @curso } %>
    <%= render partial: "layouts/shared/alert" %>
  </div>

  <% if @curso.id.present? %>
    <div class="mt-4" style="width: 100%">
      <div style="flex-direction: column; width: 100%;">
          <div class="col" style="margin-top: 14px;">
            <div class="full-width-container card mb-2 rounded-4 w-100 hover p-2">
              <a href="/cursos/<%= @curso.id %>/edit" class="hover" style="text-decoration: none; color: black">
                <div class="row g-0">
                  <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <% if @curso.imagem.present? %>
                      <%= image_tag @curso.imagem, class: "", alt: @curso.name, style: "max-height: 180px; max-width: 100%; object-fit: contain;" %>
                    <% end %>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title" style="font-size: 17px; font-weight: 350"><%= @curso.name %></h5>
                      <strong class="mb-5" style="font-size: 16px; font-weight: 600;" >R$ <%= number_with_precision(@curso.value, precision: 2, separator: ",") %></strong>
                      <span class="preco-riscado">R$ <%= number_with_precision(@curso.value_riscado, precision: 2, separator: ",") %></span>

                      <div class="mt-2">
                        <span class="badge p-2" style="font-size: 12px; font-weight: 400;">⭐ Mais vendidos</span>
                      </div>

                      <div class="row mt-3">
                        <div class="col-12 col-md-5 mb-2">
                          <div class="item d-flex align-items-center">
                            <i class="bi bi-file-play fs-5 me-2"></i>
                            <span style="font-size: 12px;">20 horas de vídeo</span>
                          </div>
                        </div>

                        <div class="col-12 col-md-7 mb-2">
                          <div class="item d-flex align-items-center">
                            <i class="bi bi-phone fs-5 me-2"></i>
                            <span style="font-size: 12px;">Acesso no dispositivo móvel e na TV</span>
                          </div>
                        </div>

                        <div class="col-12 col-md-5 mb-2">
                          <div class="item d-flex align-items-center">
                            <i class="bi bi-trophy fs-5 me-2"></i>
                            <span style="font-size: 12px;">Certificado de conclusão</span>
                          </div>
                        </div>

                        <div class="col-12 col-md-7 mb-2">
                          <div class="item d-flex align-items-center">
                            <i class="bi bi-file-earmark-arrow-down fs-5 me-2"></i>
                            <span style="font-size: 12px;"><%= @curso.words.count %> redações disponíveis para download</span>
                          </div>
                        </div>

                        <div class="col-12 col-md-5 mb-2">
                          <div class="item d-flex align-items-center">
                            <i class="bi bi-pen fs-5 me-2"></i>
                            <span style="font-size: 12px;">Correções aprofundadas</span>
                          </div>
                        </div>

                        <div class="col-12 col-md-7 mb-2">
                          <div class="item d-flex align-items-center">
                            <i class="bi bi-pen fs-5 me-2"></i>
                            <span style="font-size: 12px;">Correções aprofundadas e dinâmicas</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
  <% end %>

  <div id="form_container">
    <div class="row mt-4">
      <div class="col-3">
        <div>
          <%= form.label "Nome", class: "form-label fw-light" %>
          <%= form.text_field :name, class: "form-control", class: "form-control form-control-sm", style: "margin-top: -8px" %>
        </div>
      </div>

      <div class="col-3">
        <%= form.label :prova, "Prova", class: "form-label fw-light" %>
        <div class="d-flex align-items-center" style="gap: 5px;">
          <%= form.select :prova, options_for_select([["Enem", "enem"], ["Fuvest", "usp"], ["Unicamp", "unicamp"], ["Unesp", "unesp"]], @curso.prova), {}, class: "form-select form-select-sm", style: "margin-top: -8px" %>
        </div>
      </div>

      <div class="col-3">
        <%= form.label :tipo, "Tipo do Texto", class: "form-label fw-light" %>
        <div class="d-flex align-items-center" style="gap: 5px;">
          <%= form.select :tipo, options_for_select([["Dissertativo Argumentativo", "dissertativo-argumentativo"], ["Dissertativo Descritivo", "dissertativo-descritivo"], ["Carta", "carta"]], @curso.tipo), {}, class: "form-select form-select-sm", style: "margin-top: -8px" %>
        </div>
      </div>

      <div class="col-3">
        <%= form.label :vigencia, "Vigência", class: "form-label fw-light" %>
        <div class="d-flex align-items-center" style="gap: 5px;">
          <%= form.select :vigencia, options_for_select([["1 Mês", 1], ["3 Meses", 3], ["6 Meses", 6]], @curso.vigencia), {}, class: "form-select form-select-sm", style: "margin-top: -8px" %>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-6">
        <%= form.label "Descrição", class: "form-label fw-light" %>
        <%= form.text_area :description, class: "form-control form-control-sm", rows: 3, style: "margin-top: -8px" %>
      </div>

      <div class="col-6">
        <%= form.label "Descrição", class: "form-label fw-light" %>
        <%= form.text_area :description, class: "form-control form-control-sm", rows: 3, style: "margin-top: -8px" %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-3">
        <%= form.label :value, "Valor Total", class: "form-label fw-light" %>
        <%= form.text_field :value,
              class: "form-control form-control-sm",
              style: "margin-top: -8px",
              value: number_with_precision(form.object.value, precision: 2, separator: ",", delimiter: ".") %>
      </div>

      <div class="col-3">
        <%= form.label :value_riscado, "Valor Riscado", class: "form-label fw-light" %>
        <%= form.text_field :value_riscado,
              class: "form-control form-control-sm",
              style: "margin-top: -8px",
              value: number_with_precision(form.object.value_riscado, precision: 2, separator: ",", delimiter: ".") %>
      </div>
    </div>
  </div>

  <% if @redacoes.present? %>
    <div class="mt-5" style="margin-left: 20px">
      <h6 href="/">
        <i class="bi bi-book fs-4" style="margin-right: 10px"></i>
        <span style="position: relative; top: -1px; font-size: 21px">Redações</span>
      </h6>
    </div>

    <div id="container_redacoes_escolhidas" class="container-redacoes-escolhidas col-12 mt-2">
      <% @redacoes.each do |word| %>
        <div class="card-redacao mb-2">
          <div class="img-redacao">
            <div class="word-type-label">
              <label class="bg-white">
                <%= word.word_type.upcase %>
              </label>
            </div>
            <img src="/images/logo.png" alt="Login image" />
          </div>
          <div class="word-content mb-3">
            <h6><%= word.tema %></h6>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="mt-5" style="margin-left: 20px">
    <h6 href="/">
      <i class="bi bi-bounding-box  fs-4" style="margin-right: 10px"></i>
      <span style="position: relative; top: -1px; font-size: 21px">Módulos</span>
    </h6>
  </div>

  <div id="container_modulos" style="width: 100%">
    <div id="modulos">
      <%= form.fields_for :modulos do |modulo_fields| %>
        <%= render "modulos_nested", f: modulo_fields %>
      <% end %>
    </div>

    <template id="modulo-template">
      <%= form.fields_for :modulos, @curso.modulos.build, child_index: "NEW_MODULO" do |modulo_fields| %>
        <%= render "modulos_nested", f: modulo_fields, new_record: true %>
      <% end %>
    </template>

    <template id="aula-template">
      <%= form.fields_for :modulos, @curso.modulos.build, child_index: "NEW_MODULO" do |modulo_fields| %>
        <%= modulo_fields.fields_for :aulas, modulo_fields.object.aulas.build, child_index: "NEW_AULA" do |aula_fields| %>
          <%= render "aulas_nested", f: aula_fields, new_record: true %>
        <% end %>
      <% end %>
    </template>
  </div>
<% end %>
