<%= form_with(model: [:admin, @curso], local: true, html: { class: "curso-form" }) do |form| %>
  <%= render "actions", f: form %>

  <div class="row">
    <div class="col-5">
      <div>
        <%= form.label "Nome", class: "form-label fw-light" %>
        <%= form.text_field :name, class: "form-control form-control-sm", style: "margin-top: -8px" %>
      </div>
    </div>

    <div class="col-6">
      <div>
        <%= form.label "Descrição", class: "form-label fw-light" %>
        <%= form.text_area :description, class: "form-control form-control-sm", rows: 1, style: "margin-top: -8px" %>
      </div>
    </div>
  </div>

  <div id="modulos">
    <%= form.fields_for :modulos do |modulo_fields| %>
      <%= render "modulos_nested", f: modulo_fields %>
    <% end %>
  </div>

  <template id="modulo-template">
    <%= form.fields_for :modulos, @curso.modulos.build, child_index: "NEW_MODULO" do |modulo_fields| %>
      <%= render "modulos_nested", f: modulo_fields, new_record: true %>
    <% end %>
  </template>

  <template id="aula-template">
    <%= form.fields_for :modulos, @curso.modulos.build do |modulo_fields| %>
      <%= modulo_fields.fields_for :aulas, modulo_fields.object.aulas.build, child_index: "NEW_AULA" do |aula_fields| %>
        <%= render "aulas_nested", f: aula_fields, new_record: true %>
      <% end %>
    <% end %>
  </template>
<% end %>
