<div class="modulo nested-fields card-modulos" data-new-record="<%= local_assigns[:new_record] ? "true" : "false" %>" data-index="<%= f.index %>">
  <%= f.hidden_field :_destroy, class: "destroy-flag" %>

  <div>
    <%= f.label :titulo, "Título do Módulo", class: "form-label" %>
    <%= f.text_field :titulo, class: "form-control form-control-sm", style: "margin-top: -8px; font-size: 12px;" %>
  </div>

  <div class="mt-1">
    <%= f.label :description, "Descrição", class: "form-label" %>
    <%= f.text_area :description, class: "form-control form-control-sm", style: "margin-top: -8px; font-size: 12px;", rows: 1 %>
  </div>

  <button type="button" class="btn btn-primary add-aula mt-3" style="font-size: 13px;">+ Adicionar Aula</button>

  <button type="button" class="btn btn-danger d-flex justify-content-center align-items-center remove-modulo mt-1 mb-1 p-1">
    <i class="bi bi-trash-fill me-1" style="font-size: 12px;"></i>
    <span style="font-size: 13px; font-weight: 600">Excluir Módulo</span>
  </button>

  <div class="aulas">
    <%= f.fields_for :aulas do |aula_fields| %>
      <%= render "aulas_nested", f: aula_fields %>
    <% end %>
  </div>
</div>
