<div class="modulo nested-fields card-modulos" data-new-record="<%= local_assigns[:new_record] ? "true" : "false" %>">
  <%= f.hidden_field :_destroy, class: "destroy-flag" %>

  <button type="button" class="btn btn-danger remove-modulo mt-2 mb-2" style="border-radius: 10px;">
    <i class="bi bi-trash-fill fs-5"></i>
  </button>

  <div>
    <%= f.label :titulo, "Título do Módulo", class: "form-label fw-light" %>
    <%= f.text_field :titulo, class: "form-control form-control-sm", style: "margin-top: -8px" %>
  </div>

  <div class="mt-1">
    <%= f.label :description, "Descrição", class: "form-label fw-light fs-6" %>
    <%= f.text_area :description, class: "form-control form-control-sm", style: "margin-top: -8px" %>
  </div>

  <button type="button" class="btn btn-secondary add-aula mt-3">Adicionar Aula</button>

  <div class="aulas">
    <%= f.fields_for :aulas do |aula_fields| %>
      <%= render "aulas_nested", f: aula_fields %>
    <% end %>
  </div>
</div>
