<%= render partial: "layouts/shared/header" %>

<div class="container-curso">
  <% if flash[:alerta] %>
    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert" style="margin-top: -3px">
      <%= flash[:alerta]%>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <% if flash[:noticia] %>
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert" style="margin-top: -3px">
      <%= flash[:noticia] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="faixa">
    <div class="content-curso text-dark mt-4">
      <div class="curso-container d-flex flex-wrap justify-content-between">
        <div class="curso-info">
          <div class="meta">
            <span class="badge fw-light">Mais vendidos ⭐</span>
          </div>

          <h3 class="mt-3"><%= @curso.name %></h3>
          <p class="subtitle"><%= @curso.description %></p>
          <p style="font-weight: 600;"> Seu caminho para a redação perfeita e aprovação nos melhores cursos do país! </p>
          <p class="language">📅 Atualizado em <%= @curso.updated_at.strftime("%m/%Y") %></p>
        </div>

        <div class="curso-preview text-dark">
          <div>
            <% if @curso.imagem.present? %>
              <%= image_tag @curso.imagem.variant(resize_to_limit: [1000, 1000]).processed, class: "curso-imagem" %>
            <% end %>
          </div>

          <div class="compra-box text-dark">
            <div class="preco">
              <span class="preco-antigo"><%= number_to_currency(@curso.value, unit: "R$", separator: ",", delimiter: ".", format: "%u %n") %></span>
              <span class="preco-riscado">R$ 80,90</span>
              <p class="desconto">68% de desconto</p>
              <p class="tempo-restante fs-6">⏱️ <strong>Só mais 8 horas</strong> por este preço!</p>
            </div>

            <div style="display: flex; gap: 10px">
              <div class="">
                <%= form_with url: add_to_cart_path(@curso), method: :post, local: true do %>
                  <%= button_tag type: "submit", class: "btn-branco btn-carrinho fw-light p-1", onclick: "showLoadingAndRedirect()" do %>
                    <i class="bi bi-cart-plus-fill fs-3"></i>
                  <% end %>
                <% end %>
              </div>

              <div class="w-100 p-1">
                <%= form_with url: add_to_cart_path(@curso, redirect: true), method: :post, local: true do %>
                  <%= button_tag type: "submit", class: "btn-roxo btn-comprar fw-light p-3 mt-1", onclick: "showLoadingRedirect()" do %>
                    Comprar agora
                  <% end %>
                <% end %>
              </div>
            </div>

            <div class="links-extra"></div>

            <div class="cupom-box">
              <p class="cupom-msg fs-6">O código de cupom <strong>247TM260525G2</strong> foi aplicado</p>
              <input type="text" class="form-control" placeholder="Inserir cupom">
              <button class="btn-aplicar btn-comprar fw-light">Aplicar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="curso-inclui">
    <div class="itens-curso">
      <div class="item">
        <i class="bi bi-file-play fs-3"></i>
        <span class="fs-6">20 horas de vídeo</span>
      </div>
      <div class="item">
        <i class="bi bi-phone fs-3"></i>
        <span class="fs-6" style="white-space: nowrap;">Acesso no dispositivo móvel e na TV</span>
      </div>
      <div class="item">
        <i class="bi bi-book fs-3"></i>
        <span class="fs-6" style="white-space: nowrap;">5 redações</span>
      </div>
      <div class="item">
        <i class="bi bi-trophy fs-3"></i>
        <span class="fs-6" style="white-space: nowrap;">Certificado de conclusão</span>
      </div>
      <div class="item">
        <i class="bi bi-file-earmark-arrow-down fs-3"></i>
        <span class="fs-6" style="white-space: nowrap;">18 recursos para download</span>
      </div>
      <div class="item">
        <i class="bi bi-pen fs-3"></i>
        <span class="fs-6" style="white-space: nowrap;">Correções aprofundadas e dinâmicas</span>
      </div>
    </div>
  </div>
</div>



<div class="container mt-5">
  <h5 class="mt-3" href="/">
    <i class="bi bi-book-half fs-4" style="margin-right: 10px"></i>
    <span style="position: relative; top: -2px;">Conteúdo do Curso</span>
  </h5>
</div>

<div class="container">
  <p class="fw-light text-secondary"><%= @modulos.count %> Módulos • <%= @curso.aulas.count %> Aulas • Duração Total: 20h 34min</p>
</div>

<div class="container">
  <div class="accordion" style="width: 67%" id="modulosAccordion">
    <% @modulos.each_with_index do |modulo, index| %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading-<%= index %>">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= index %>" aria-expanded="false" aria-controls="collapse-<%= index %>">
            <%= modulo.titulo %>
          </button>
        </h2>
        <div id="collapse-<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading-<%= index %>">
          <div class="accordion-body">
            <ul class="list-group list-group-flush" style="gap: 10px">
              <% modulo.aulas.each do |aula| %>
                <li class="list-group-item" style="background-color: whitesmoke; border: 10px; border-radius: 5px">
                  <div style="text-decoration: none; padding: 1px" class="fw-light">
                    <%= aula.titulo %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="loader" id="loadingOverlay">
  <div class="spinner-loader"></div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br>

<footer class="footer">
  <div class="container footer-top">
    <div class="logo-section">
      <img src="/images/logo.png" alt="Aprova Total" class="logo" />
      <p>Transformando sonhos em aprovações</p>
    </div>
    <div class="footer-links">
      <div class="icon-footer">
        <a href="" class="text-white" style="text-decoration: none;">
          <i class="bi bi-instagram fs-1"></i>
        </a>
      </div>
      <div class="icon-footer">
        <a href="" class="text-white" style="text-decoration: none;">
          <i class="bi bi-linkedin fs-1"></i>
        </a>
      </div>
      <div class="icon-footer">
        <a href="" class="text-white" style="text-decoration: none;">
          <i class="bi bi-facebook fs-1"></i>
        </a>
      </div>
      <div class="icon-footer">
        <a href="" class="text-white" style="text-decoration: none;">
          <i class="bi bi-youtube fs-1"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="contact-info">
      <p><strong>Números Oficiais de Vendas:</strong> (19) 99246-0527 | (19) 99246-0527</p>
    </div>
    <div class="copyright">
      <p>Copyright © 2025 Aprova Redação</p>
    </div>
  </div>
</footer>


<script>
  function showLoadingAndRedirect() {
    const overlay = document.getElementById('loadingOverlay');
    overlay.style.display = 'flex';

    setTimeout(() => {
      window.location.href = "";
      overlay.style.display = 'none';
    }, 1000);
  }

  function showLoadingRedirect() {
    const overlay = document.getElementById('loadingOverlay');
    overlay.style.display = 'flex';

    setTimeout(() => {
      window.location.href = "/user/carrinho";
      overlay.style.display = 'none';
    }, 2000);
  }
</script>