<%= render partial: "layouts/shared/header" %>

<img src="https://upload.wikimedia.org/wikipedia/commons/0/04/Pix_Logo_2020.png" alt="Pix" style="height: 32px;">

<div class="container-curso">
  <% if flash[:alerta] %>
    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert" style="margin-top: -3px">
      <%= flash[:alerta]%>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <% if flash[:noticia] %>
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert" style="margin-top: -3px">
      <%= flash[:noticia] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="faixa ms-2">
    <div class="content-curso text-dark mt-4">
      <div class="curso-container d-flex flex-wrap justify-content-between">
        <div class="curso-info" style="width: 65%;">
          <h4 class="mt-2 z-index"><%= @curso.name %></h4>
          <p class="subtitle"><%= @curso.description %></p>
        </div>

        <div class="curso-preview text-dark">
          <div>
            <% if @curso.imagem.present? %>
              <%= image_tag @curso.imagem.variant(resize_to_limit: [1000, 1000]).processed, class: "curso-imagem" %>
            <% end %>
          </div>

          <div class="compra-box text-dark">
            <div class="preco">
              <img src="https://cdn.simpleicons.org/pix/00B4AA" alt="Pix" height="32" class="mt-3">
              <span class="me-2 ms-2 preco-antigo"><%= number_to_currency(@curso.value, unit: "R$", separator: ",", delimiter: ".", format: "%u %n") %></span>
              <span class="preco-riscado">R$ <%= number_with_precision(@curso.value_riscado, precision: 2, separator: ",") %></span>
              <p class="desconto" style="font-size: 14px; margin-left: 45px;">68% de desconto</p>
            </div>

            <hr>

            <div class="preco d-flex">
              <i class="bi bi-credit-card-fill" style="font-size: 32px;"></i>
              <span class="preco-antigo" style="margin-left: 10px; margin-top: 7px">R$ 10,00</span>
              <span class="preco-vezes" style="margin-top: 15px; margin-left: 7px;">x24</span>
              <p class="desconto" style="font-size: 12px; margin-top: 15px; margin-left: 2px; font-weight: 1000">sem juros</p>
            </div>

            <p class="tempo-restante fs-6 mt-3">⏱️ <strong>Só mais 8 horas</strong> por este preço!</p>
            <div style="display: flex; gap: 4px">
              <% if current_user.present? %>
                <% if current_user.user_cursos.where(curso_id: @curso.id).blank? %>
                  <div class="">
                    <%= form_with url: add_to_cart_path(@curso), method: :post, local: true do %>
                      <%= button_tag type: "submit", class: "btn-branco btn-carrinho fw-light p-1", onclick: "showLoadingAndRedirect()" do %>
                        <i class="bi bi-cart-plus-fill fs-3"></i>
                      <% end %>
                    <% end %>
                  </div>

                  <div class="w-100 p-1">
                    <%= form_with url: add_to_cart_path(@curso, redirect: true), method: :post, local: true do %>
                      <%= button_tag type: "submit", class: "btn-roxo btn-comprar fw-light p-3 mt-1", onclick: "showLoadingRedirect()" do %>
                        Comprar agora
                      <% end %>
                    <% end %>
                  </div>
                <% else %>
                  <div class="w-100 p-1">
                    <%= form_with url: player_user_curso_path(@curso), method: :get, local: true do %>
                      <%= button_tag type: "submit", class: "btn-roxo btn-comprar fw-light p-3 mt-1" do %>
                        Ir para o Curso
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              <% else %>
                <div class="">
                  <%= form_with url: add_to_cart_path(@curso), method: :post, local: true do %>
                    <%= button_tag type: "submit", class: "btn-branco btn-carrinho fw-light p-1", onclick: "showLoadingAndRedirect()" do %>
                      <i class="bi bi-cart-plus-fill fs-3"></i>
                    <% end %>
                  <% end %>
                </div>

                <div class="w-100 p-1">
                  <%= form_with url: add_to_cart_path(@curso, redirect: true), method: :post, local: true do %>
                    <%= button_tag type: "submit", class: "btn-roxo btn-comprar fw-light p-3 mt-1", onclick: "showLoadingRedirect()" do %>
                      Comprar agora
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="curso-inclui">
    <div class="itens-curso" style="margin-left: 30px;">
      <div class="item">
        <i class="bi bi-file-play fs-3"></i>
        <span class="fs-6">20 horas de vídeo</span>
      </div>
      <div class="item">
        <i class="bi bi-phone fs-3"></i>
        <span class="fs-6" style="white-space: nowrap;">Acesso no dispositivo móvel e na TV</span>
      </div>
      <div class="item">
        <i class="bi bi-book fs-3"></i>
        <span class="fs-6" style="white-space: nowrap;"><%= @curso.words.count %> <%= @curso.words.count == 1 ? "Redação" : "Redações" %></span>
      </div>
      <div class="item">
        <i class="bi bi-trophy fs-3"></i>
        <span class="fs-6" style="white-space: nowrap;">Certificado de conclusão</span>
      </div>
      <div class="item">
        <i class="bi bi-file-earmark-arrow-down fs-3"></i>
        <span class="fs-6" style="white-space: nowrap;">18 recursos para download</span>
      </div>
      <div class="item">
        <i class="bi bi-pen fs-3"></i>
        <span class="fs-6" style="white-space: nowrap;">Correções aprofundadas e dinâmicas</span>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h5 class="mt-3" href="/" style="margin-left: 32px;">
    <i class="bi bi-book-half fs-4" style="margin-right: 10px"></i>
    <span style="position: relative; top: -2px;">Conteúdo do Curso</span>
  </h5>
</div>

<div class="container">
  <p class="fw-light text-secondary" style="margin-left: 32px;"><%= @modulos.count %> Módulos • <%= @curso.aulas.count %> Aulas • Duração Total: 20h 34min</p>
</div>

<div class="container">
  <div class="accordion" style="width: 96%; margin-left: 30px;" id="modulosAccordion">
    <% @modulos.each_with_index do |modulo, index| %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading-<%= index %>">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= index %>" aria-expanded="false" aria-controls="collapse-<%= index %>">
            <%= modulo.titulo %>
          </button>
        </h2>
        <div id="collapse-<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading-<%= index %>">
          <div class="accordion-body">
            <ul class="list-group list-group-flush" style="gap: 10px">
              <% modulo.aulas.each do |aula| %>
                <li class="list-group-item" style="background-color: whitesmoke; border: 10px; border-radius: 5px">
                  <div style="text-decoration: none; padding: 1px" class="fw-light">
                    <i class="bi bi-camera-video fs-6" style="margin-right: 3px;"></i>
                    <%= aula.titulo %>
                  </div>
                </li>
                <% if aula.word.present? %>
                  <li class="list-group-item" style="background-color: whitesmoke; border: 10px; border-radius: 5px">
                    <div style="text-decoration: none; padding: 1px" class="fw-light">
                      <i class="bi bi-pencil-square fs-6" style="margin-right: 3px"></i>
                      <%= aula.word.tema %>
                    </div>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="loader" id="loadingOverlay">
  <div class="spinner-loader"></div>
</div>

<br><br><br><br><br><br><br><br>

<footer class="footer">
  <div class="container container-flex footer-top">
    <div class="logo-section">
      <img src="/images/logo.png" alt="Aprova Total" class="logo" />
      <%# <p>Transformando sonhos em aprovações</p> %>
    </div>
    <div class="footer-links">
      <div class="icon-footer">
        <a href="" class="text-white" style="text-decoration: none;">
          <i class="bi bi-instagram fs-3"></i>
        </a>
      </div>
      <div class="icon-footer">
        <a href="" class="text-white" style="text-decoration: none;">
          <i class="bi bi-linkedin fs-3"></i>
        </a>
      </div>
      <div class="icon-footer">
        <a href="" class="text-white" style="text-decoration: none;">
          <i class="bi bi-facebook fs-3"></i>
        </a>
      </div>
      <div class="icon-footer">
        <a href="" class="text-white" style="text-decoration: none;">
          <i class="bi bi-youtube fs-3"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="contact-info">
      <p><strong>Números Oficiais de Vendas:</strong> (19) 99246-0527 | (19) 99246-0527</p>
    </div>
    <div class="copyright">
      <p>Copyright © 2025 Aprova Redação</p>
    </div>
  </div>
</footer>

<script>
  function showLoadingAndRedirect() {
    const overlay = document.getElementById('loadingOverlay');
    overlay.style.display = 'flex';

    setTimeout(() => {
      window.location.href = "";
      overlay.style.display = 'none';
    }, 1000);
  }

  function showLoadingRedirect() {
    const overlay = document.getElementById('loadingOverlay');
    overlay.style.display = 'flex';

    setTimeout(() => {
      window.location.href = "/user/carrinho";
      overlay.style.display = 'none';
    }, 2000);
  }

  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".boolean-toggle").forEach((el) => {
      el.addEventListener("click", () => {
        const taskId = el.dataset.id;
        const currentValue = el.dataset.approved === "true";
        const newValue = !currentValue;

        // Atualiza visualmente
        el.classList.toggle("true", newValue);
        el.dataset.approved = newValue;

        // Envia para backend
        fetch(`/toggle_approved`, {
          method: "PATCH",
          headers: {
            "Content-Type": "application/json",
            "X-CSRF-Token": document.querySelector('meta[name="csrf-token"]').content
          },
          body: JSON.stringify({ approved: newValue })
        });
      });
    });
  });

</script>
