<%= form_with(url: calcular_frete_path, method: :post, local: true, class: "row g-3") do |form| %>
  <div class="d-flex justify-content-between align-items-center mb-1">
    <h3 class="mt-2 text-title">NOVO FRETE</h3>
    <div>
      <a href="/" class="btn btn-danger btn-lg">
        <i class="bi bi-trash-fill"></i>
      </a>
      <button type="submit" class="btn btn-success btn-lg">
        <i class="bi bi-calculator-fill"></i>
      </button>
    </div>
  </div>

  <% if @frete_calculado.present? %>
    <div class="alert alert-warning d-flex justify-content-between align-items-center mt-3 col-7">
      <img src="<%= @frete_calculado["company"]["picture"] %>" alt="Logo da transportadora" class="img-fluid" style="max-height: 50px; margin-left: 40px;"><br>

      <p class="mt-3" style="margin-right: 50px;">
        Serviço: <strong> <%= @frete_calculado["name"] %> </strong><br>
        Transportadora: <strong> <%= @frete_calculado["company"]["name"] %> </strong><br>
        Preço Final: <strong> <%= number_to_currency(@frete_calculado["custom_price"].to_f, unit: "R$", separator: ",") %> </strong> <br>
        Prazo de Entrega: <strong> <%= @frete_calculado["delivery_time"] %> dias </strong>
      </p>
    </div>

    <%# <div class="col-1"></div> %>

    <div class="alert d-flex justify-content-center align-items-center mt-3 col-5">
      <img src="<%= state_image_url(@address_origem[:state]) %>" alt="Estado Origem" class="img-fluid" style="max-height: 80px; margin-right: 20px;">

      <i class="bi bi-arrow-right fs-2"></i>

      <img src="<%= state_image_url(@address_destino[:state]) %>" alt="Estado Destino" class="img-fluid" style="max-height: 80px; margin-left: 20px;">
    </div>
  <% end %>

  <div class="col-md-12">
    <%= form.label :service_type_id, "Tipo de serviço", class: "form-label fw-light" %>
    <%= form.select :service_type_id, options_for_select([['PAC', 1], ['Sedex', 2], ['Outros', 3]], selected: params[:service_type_id]), {}, { class: "form-control form-control-sm select2", id: "service_type_select", required: true } %>
  </div>

  <div class="col-md-6">
    <%= form.label :cep_origem, "CEP de Origem", class: "form-label fw-light" %>
    <%= form.text_field :cep_origem, class: "form-control form-control-sm", placeholder: "Digite o CEP", required: true, value: params[:cep_origem] %>
  </div>

  <div class="col-md-6">
    <%= form.label :cep_destino, "CEP de Destino", class: "form-label fw-light" %>
    <%= form.text_field :cep_destino, class: "form-control form-control-sm", placeholder: "Digite o CEP", required: true, value: params[:cep_destino] %>
  </div>

  <div class="col-md-4">
    <%= form.label :street_origem, "Rua", class: "form-label fw-light" %>
    <%= form.text_field :street_origem, class: "form-control form-control-sm", disabled: true, value: @address_origem[:street] %>
  </div>

  <div class="col-md-2">
    <%= form.label :bairro_origem, "Bairro", class: "form-label fw-light" %>
    <%= form.text_field :bairro_origem, class: "form-control form-control-sm", disabled: true, value: @address_origem[:bairro] %>
  </div>

  <div class="col-md-4">
    <%= form.label :street_destino, "Rua", class: "form-label fw-light" %>
    <%= form.text_field :street_destino, class: "form-control form-control-sm", disabled: true, value: @address_destino[:street] %>
  </div>

  <div class="col-md-2">
    <%= form.label :bairro_destino, "Bairro", class: "form-label fw-light" %>
    <%= form.text_field :bairro_destino, class: "form-control form-control-sm", disabled: true, value: @address_destino[:bairro] %>
  </div>

    <div class="col-md-3">
    <%= form.label :city_origem, "Cidade", class: "form-label fw-light" %>
    <%= form.text_field :city_origem, class: "form-control form-control-sm", disabled: true, value: @address_origem[:city] %>
  </div>

  <div class="col-md-3">
    <%= form.label :state_origem, "Estado", class: "form-label fw-light" %>
    <%= form.text_field :state_origem, class: "form-control form-control-sm", disabled: true, value: @address_origem[:state] %>
  </div>

  <div class="col-md-3">
    <%= form.label :city_destino, "Cidade", class: "form-label fw-light" %>
    <%= form.text_field :city_destino, class: "form-control form-control-sm", disabled: true, value: @address_destino[:city] %>
  </div>

  <div class="col-md-3 mb-3">
    <%= form.label :state_destino, "Estado", class: "form-label fw-light" %>
    <%= form.text_field :state_destino, class: "form-control form-control-sm", disabled: true, value: @address_destino[:state] %>
  </div>

  <hr>

  <div class="col-md-3">
    <%= form.label :weight, "Peso (kg)", class: "form-label fw-light" %>
    <%= form.number_field :weight, class: "form-control form-control-sm", required: true, value: params[:weight] %>
  </div>

  <div class="col-md-3">
    <%= form.label :length, "Comprimento (cm)", class: "form-label fw-light" %>
    <%= form.number_field :length, class: "form-control form-control-sm", required: true, value: params[:length] %>
  </div>

  <div class="col-md-3">
    <%= form.label :width, "Largura (cm)", class: "form-label fw-light" %>
    <%= form.number_field :width, class: "form-control form-control-sm", required: true, value: params[:width] %>
  </div>

  <div class="col-md-3">
    <%= form.label :height, "Altura (cm)", class: "form-label fw-light" %>
    <%= form.number_field :height, class: "form-control form-control-sm", required: true, value: params[:height] %>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $('#service_type_select').select2({
      theme: 'bootstrap4',
      placeholder: "Selecione o tipo de serviço",
      allowClear: true
    });
  });
</script>
