<%= form_with(url: calcular_frete_path, method: :post, local: true, class: "row g-3") do |form| %>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="p-1 text-title">CALCULADORA DE FRETE</h3>
    <button type="submit" class="btn btn-dark btn-lg">
      <i class="bi bi-calculator-fill"></i>
    </button>
  </div>

  <div class="col-md-12">
    <%= form.label :service_type_id, "Tipo de serviço", class: "form-label fw-light" %>
    <%= form.select :service_type_id, options_for_select([['PAC', 1], ['Sedex', 2], ['Outros', 3]], selected: params[:service_type_id]), {}, { class: "form-control form-control-sm select2", id: "service_type_select", required: true } %>
  </div>

  <div class="col-md-12">
    <%= form.label :cep_destino, "CEP de Destino", class: "form-label fw-light" %>
    <%= form.text_field :cep_destino, class: "form-control form-control-sm", placeholder: "Digite o CEP", required: true, value: params[:cep_destino] %>
  </div>

  <div class="col-md-6">
    <%= form.label :street, "Rua", class: "form-label fw-light" %>
    <%= form.text_field :street, class: "form-control form-control-sm", disabled: true, value: @address[:street] %>
  </div>

  <div class="col-md-6">
    <%= form.label :bairro, "Bairro", class: "form-label fw-light" %>
    <%= form.text_field :bairro, class: "form-control form-control-sm", disabled: true, value: @address[:bairro] %>
  </div>

  <div class="col-md-6">
    <%= form.label :city, "Cidade", class: "form-label fw-light" %>
    <%= form.text_field :city, class: "form-control form-control-sm", disabled: true, value: @address[:city] %>
  </div>

  <div class="col-md-6">
    <%= form.label :state, "Estado", class: "form-label fw-light" %>
    <%= form.text_field :state, class: "form-control form-control-sm", disabled: true, value: @address[:state] %>
  </div>

  <div class="col-md-3">
    <%= form.label :weight, "Peso (kg)", class: "form-label fw-light" %>
    <%= form.number_field :weight, class: "form-control form-control-sm", required: true, value: params[:weight] %>
  </div>

  <div class="col-md-3">
    <%= form.label :length, "Comprimento (cm)", class: "form-label fw-light" %>
    <%= form.number_field :length, class: "form-control form-control-sm", required: true, value: params[:length] %>
  </div>

  <div class="col-md-3">
    <%= form.label :width, "Largura (cm)", class: "form-label fw-light" %>
    <%= form.number_field :width, class: "form-control form-control-sm", required: true, value: params[:width] %>
  </div>

  <div class="col-md-3">
    <%= form.label :height, "Altura (cm)", class: "form-label fw-light" %>
    <%= form.number_field :height, class: "form-control form-control-sm", required: true, value: params[:height] %>
  </div>
<% end %>

<style>
  .select2-container .select2-selection--single {
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }

  .select2-container--bootstrap4 .select2-results__option {
    font-size: 16px;
    padding: 3px;
  }

  .select2-container--bootstrap4 .select2-results__option--highlighted {
    background-color: black;
    color: white;
  }

  .mukta-medium {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .text-title {
    font-family: "Mukta", sans-serif;
    font-size: 30px; /* Ajuste o tamanho da fonte */
    font-weight: 380;
    color: #333; /* Mude a cor do texto */
    letter-spacing: 0.05px; /* Adiciona espaçamento entre as letras */
  }

</style>

<script>
  $(document).ready(function() {
    $('#service_type_select').select2({
      theme: 'bootstrap4', // Para usar o tema Bootstrap 4 (ou outro se necessário)
      placeholder: "Selecione o tipo de serviço", // Texto de exemplo quando nada é selecionado
      allowClear: true // Permite limpar a seleção
    });
  });
</script>