<main class="chat-main flex-grow-1 p-3">
  <% if @aluno_selecionado %>
    <!-- Cabeçalho do Aluno -->
    <header class="chat-header mb-3">
      <div class="d-flex">
        <%= link_to admin_alunos_path, class: "text-dark hover-max", style: "text-decoration: none; margin-right: 15px; margin-top: 5px;" do %>
          <i class="bi bi-caret-left-square fs-5"></i>
        <% end %>

        <% if @aluno_selecionado.imagem.present? %>
          <%= image_tag @aluno_selecionado.imagem, class: "user-avatar me-2 rounded-circle", width: 10, height: 10, alt: @aluno_selecionado.nome %>
        <% else %>
          <img src="/images/avatar-padrao.jpg" class="user-avatar me-2 rounded-circle" width="10" height="10" />
        <% end %>
        <span style="font-size: 15px; font-weight: 500; margin-top: 8px; margin-left: 3px;"><%= @aluno_selecionado.nome %></span>
      </div>
    </header>

    <!-- Abas dos Chats e Extras -->
    <div class="chat-tabs-container d-flex gap-2 flex-wrap mb-3">
      <%= link_to admin_alunos_path(aluno_id: @aluno_selecionado.id, informacoes: true), class: "text-white", style: "text-decoration: none;" do %>
        <div class="beneficio <%= 'bg-dark' if params[:informacoes] %>">
          <i class="bi bi-info-circle fs-4"></i>
          <h6 style="font-size: 13px; font-weight: 600;">Informações</h6>
        </div>
      <% end %>

      <%= link_to admin_alunos_path(aluno_id: @aluno_selecionado.id, cursos: true), class: "text-white", style: "text-decoration: none;" do %>
        <div class="beneficio <%= 'bg-dark' if params[:cursos] %>">
          <i class="bi bi-collection-play-fill fs-4"></i>
          <h6 style="font-size: 13px; font-weight: 600;">Cursos</h6>
        </div>
      <% end %>

      <%= link_to admin_alunos_path(aluno_id: @aluno_selecionado.id, redacoes: true), class: "text-white", style: "text-decoration: none;" do %>
        <div class="beneficio <%= 'bg-dark' if params[:redacoes] %>">
          <i class="bi bi-book fs-4"></i>
          <h6 style="font-size: 13px; font-weight: 600;">Redações</h6>
        </div>
      <% end %>

      <% @chats.each_with_index do |chat, idx| %>
        <%= link_to admin_alunos_path(aluno_id: @aluno_selecionado.id, chat_id: chat.id), class: "text-white", style: "text-decoration: none;" do %>
          <% notification_count = @aluno_selecionado.notifications.where(painel: "admin", chat_id: chat.id).count %>
          <div class="beneficio <%= 'bg-dark' if params[:chat_id].to_i == chat.id %>" style="<%= 'background-color: rgba(170, 125, 0, 0.75);' unless notification_count.zero? %>">
            <% if notification_count > 0 %>
              <span id="chat-badge-<%= chat.id %>" class="badge rounded-pill notification-badge ms-2 mt-2 mb-2" style="font-size: 11px; font-weight: 700; background-color:rgba(255, 255, 255, 0.88); color: black; border-radius: 50%;">
                <%= notification_count %>
              </span>
            <% else %>
              <i class="bi bi-chat-left-text fs-4"></i>
            <% end %>
            <h6 style="font-size: 13px; font-weight: 600;">Chat <%= idx + 1 %></h6>
          </div>
        <% end %>
      <% end %>
    </div>

    <% if params[:cursos] %>
      <section class="chat-messages scrollable mb-3 border p-3 rounded bg-white" style="max-height: 700px; overflow-y: auto;">
        <div class="d-flex">
          <i class="bi bi-collection-play-fill fs-6" style="margin-top: -4px;"></i>
          <h6 style="font-size: 14px;" class="mb-3 ms-2">Cursos</h6>
        </div>

        <% if @aluno_selecionado.user_cursos.any? %>
          <ul class="list-group">
            <% @aluno_selecionado.user_cursos.each_with_index do |user_curso, index| %>
              <li class="list-group-item p-3">
                <div class="row g-0">
                  <div class="col-md-3 ms-2 d-flex align-items-center justify-content-center">
                    <% if user_curso.curso.imagem.present? %>
                      <%= image_tag user_curso.curso.imagem, class: "", alt: user_curso.curso.name, style: "max-height: 80px; object-fit: cover; min-width: 100%; border-radius: 5px;" %>
                    <% end %>
                  </div>
                  <div class="col-md-7 ms-3">
                    <div class="mt-1">
                      <h6 style="font-weight: 400; font-size: 13px; margin-bottom: -1px; "><%= user_curso.curso.name %></h6>
                      <strong class="text-danger" style="font-size: 12px; font-weight: 600">
                        Expira em: <span class="fw-bold"><%= user_curso.data_fim.in_time_zone('America/Sao_Paulo').strftime('%d/%m/%Y %H:%M') %></span>
                      </strong>
                      <div class="progress" style="height: 8px; margin-top: 6px; width: 90%;">
                        <div class="progress-bar" role="progressbar" style="width: <%= user_curso.progresso %>%;" aria-valuenow="<%= user_curso.progresso %>" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small style="font-size: 13px;" class="text-muted d-block mb-2"><%= user_curso.progresso %>% concluído</small>
                    </div>
                  </div>
                  <div class="col-md-1 mt-4 hover-medium">
                    <i class="bi bi-pencil-square fs-5 text-dark"
                      style="cursor: pointer;"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseVigencia<%= index %>"
                      aria-expanded="false"
                      aria-controls="collapseVigencia<%= index %>"></i>
                  </div>
                </div>

                <!-- Collapse editável -->
                <div class="collapse mt-3" id="collapseVigencia<%= index %>">
                  <hr class="mt-3">
                  <%= form_with url: admin_alterar_vigencia_path(user_curso), method: :patch, local: true do |f| %>
                    <div class="d-flex align-items-center gap-2 mb-3 ms-4">
                      <%= f.label :data_fim, "Vigência:", class: "form-label", style: "font-size: 14px; margin-top: 8px;" %>
                      <%= f.date_field :data_fim, value: user_curso.data_fim&.to_date, class: "form-control form-control-sm", style: "width: 78%;" %>
                      <%= f.submit "Salvar", class: "btn btn-primary btn-sm", style: "font-weight: 500; font-size: 12px;" %>
                    </div>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="text-secondary" style="font-size: 13px;">Esse aluno não possui cursos...</p>
        <% end %>

        <hr class="mt-4">

        <%= form_with url: admin_adicionar_cursos_path, method: :post, local: true do %>
          <%= hidden_field_tag :aluno_id, @aluno_selecionado.id %>

          <div class="mb-3 mt-2">
            <h6 style="font-size: 13px;" class="mb-3">+ Adicionar Curso</h6>
            <%= select_tag :curso_id, options_from_collection_for_select(Curso.all, :id, :name), prompt: "Selecione um curso", class: "form-select form-select-sm", style: "font-size: 12px;" %>
          </div>

          <%= submit_tag "+ Adicionar", class: "btn btn-primary btn-sm", style: "font-weight: 500; font-size: 12px;" %>
        <% end %>
      </section>

    <% elsif params[:redacoes] %>
      <section class="chat-messages scrollable mb-3 border p-3 rounded bg-white">
        <div class="d-flex">
          <i class="bi bi-book fs-6" style="margin-top: -4px;"></i>
          <h6 style="font-size: 14px;" class="mb-3 ms-2">Redações</h6>
        </div>
        <% if @aluno_selecionado.user_words.any? %>
          <ul class="list-group">
            <% @aluno_selecionado.user_words.each do |user_word| %>
              <li class="list-group-item p-2">
                <div class="row g-0">
                  <div class="col-md-3 d-flex align-items-center justify-content-center">
                    <% if user_word.word.imagem.present? %>
                      <%= image_tag user_word.word.imagem, class: "", alt: user_word.word.tema, style: "max-height: 80px; object-fit: cover; min-width: 100%; border-radius: 5px;" %>
                    <% end %>
                  </div>
                  <div class="col-md-5 ms-3">
                    <div class="mt-3">
                      <h6 style="font-weight: 400; font-size: 12px; margin-bottom: -1px; "><strong style="font-weight: 500"><%= user_word.word.word_type.upcase %></strong> - <%= user_word.word.tema %></h6>
                      <strong class="<%= user_word.concluido ? "text-success" : "text-danger" %>" style="font-size: 12px; font-weight: 600">
                        Status: <span class="fw-bold"><%= user_word.concluido ? "Enviado para correção" : "Pendente" %></span>
                      </strong>
                      <p class="<%= user_word.correcao.attached? ? "text-success" : "text-danger" %>" style="font-size: 12px; font-weight: 600">
                        Correção: <span class="fw-bold"><%= user_word.correcao.attached? ? "Finalizado" : "Pendente" %></span>
                      </p>
                    </div>
                  </div>
                  <div class="col-md-3 mt-2">
                    <% if user_word.user_redacao.attached? %>
                      <%= link_to url_for(user_word.user_redacao), download: "redacao_#{user_word.id}.pdf", class: "btn btn-dark p-1 text-nowrap" do %>
                        <i class="bi bi-download" style="font-size: 13px;"></i>
                        <span style="font-size: 13px">Download <strong>redação aluno</strong></span>
                      <% end %>
                    <% end %><br>
                    <% if user_word.correcao.attached? %>
                      <%= link_to url_for(user_word.correcao), download: "correcao_#{user_word.id}.pdf", class: "btn btn-warning p-1 text-nowrap mt-2" do %>
                        <i class="bi bi-download" style="font-size: 13px;"></i>
                        <span style="font-size: 13px">Download <strong>correção professor</strong></span>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="text-secondary" style="font-size: 13px;">Esse aluno não possui redações...</p>
        <% end %>

        <hr class="mt-4">

        <%= form_with url: admin_adicionar_words_path, method: :post, local: true do %>
          <%= hidden_field_tag :aluno_id, @aluno_selecionado.id %>

          <div class="mb-3 mt-2">
            <h6 style="font-size: 13px;" class="mb-3">+ Adicionar Redação</h6>
            <%= select_tag :word_id, options_from_collection_for_select(Word.all, :id, :tema), prompt: "Selecione um redação", class: "form-select form-select-sm", style: "font-size: 12px;" %>
          </div>

          <%= submit_tag "+ Adicionar", class: "btn btn-primary btn-sm", style: "font-weight: 500; font-size: 12px;" %>
        <% end %>
      </section>

    <% elsif params[:informacoes] %>
      <section class="chat-messages mb-3 border p-3 rounded bg-white">
        <div class="d-flex">
          <i class="bi bi-info-circle fs-6" style="margin-top: -4px;"></i>
          <h6 style="font-size: 14px;" class="mb-3 ms-2">Informações</h6>
        </div>

        <div class="row g-3">
          <div class="col-md-6">
            <div class="info-item p-3 border rounded bg-light">
              <small style="font-size: 12px" class="text-muted">Nome completo</small>
              <div style="font-size: 15px" class="fw-semibold text-dark"><%= @aluno_selecionado.nome %> <%= @aluno_selecionado.sobrenome %></div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="info-item p-3 border rounded bg-light">
              <small style="font-size: 12px" class="text-muted">E-mail</small>
              <div style="font-size: 15px" class="fw-semibold text-dark"><%= @aluno_selecionado.email %></div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="info-item p-3 border rounded bg-light">
              <small style="font-size: 12px" class="text-muted">CPF</small>
              <div style="font-size: 15px" class="fw-semibold text-dark"><%= (@aluno_selecionado.cpf) %></div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="info-item p-3 border rounded bg-light">
              <small style="font-size: 12px" class="text-muted">Telefone</small>
              <div style="font-size: 15px" class="fw-semibold text-dark">(19) 99246-0527 </div>
            </div>
          </div>
        </div>
      </section>

    <% elsif @chat_selecionado %>
      <!-- Seção original do chat -->
      <section class="chat-messages scrollable mb-2 border p-0 rounded bg-white" style="max-height: 500px; overflow-y: auto;">
        <div class="d-flex sticky-chat-header ms-2">
          <i class="bi bi-chat-left-text fs-6" style="margin-top: -2px; margin-left: 5px;"></i>
          <h6 style="font-size: 14px;" class="mb-3 ms-2">Chat do tema: <%= @chat_selecionado.user_word.word.tema %></h6>
        </div>
        <% @chat_selecionado.messages.each do |msg| %>
          <div class="p-1 <%= msg.dono_type == 'Admin' ? 'text-end' : 'text-start' %>">
            <span class="badge-admin ms-2 <%= msg.dono_type == 'Admin' ? 'bg-primary' : 'bg-secondary' %>">
              <%= msg.dono_type == 'Admin' ? 'Admin' : "#{@aluno_selecionado.nome}" %>
            </span>
            <div class="me-3 mb-1 d-inline-block p-2 rounded border mt-1" style="color: black; font-size: 13px;">
              <%= msg.content %>
            </div>
          </div>
        <% end %>
        <div id="bottom"></div>
      </section>

      <!-- Input de mensagem -->
      <footer class="chat-input">
        <%= form_with url: admin_chat_messages_path(@chat_selecionado.id), model: Message.new, local: true do |f| %>
          <div class="input-group w-100">
            <%= f.text_field :content, class: "form-control", placeholder: "Digite sua mensagem..." %>
            <%= f.submit "Enviar", class: "btn btn-dark text-white" %>
          </div>
        <% end %>
      </footer>
    <% end %>
  <% else %>
    <section class="p-4" style="height: 89vh; overflow-y: auto;">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <% @alunos.limit(9).each do |aluno| %>
          <div class="col">
            <%= link_to admin_alunos_path(aluno_id: aluno.id, informacoes: true), class: "text-decoration-none text-dark" do %>
              <div class="card hover-medium shadow-sm border-0 hover-shadow transition-all h-100">
                <div>
                  <% if aluno.imagem.present? %>
                    <%= image_tag aluno.imagem, class: "card-img-top rounded-top", style: "height: 7rem; object-fit: cover;" %>
                  <% else %>
                    <img src="/images/avatar-padrao.jpg" class="card-img-top rounded-top" style="height: 7rem; object-fit: cover;" />
                  <% end %>
                </div>
                <div class="card-body">
                  <h6 class="fw-semibold" style="margin-top: -8px;"><%= aluno.nome %></h6>
                  <p class="card-text text-muted" style="font-size: 12px; margin-top: -8px; margin-bottom: -4px;"><%= aluno.email %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <% @alunos_notifications.limit(9).each do |aluno| %>
          <div class="col">
            <%= link_to admin_alunos_path(aluno_id: aluno.id, informacoes: true), class: "text-decoration-none text-dark" do %>
              <div class="card hover-medium shadow-sm border-0 hover-shadow transition-all h-100">
                <div>
                  <% if aluno.imagem.present? %>
                    <%= image_tag aluno.imagem, class: "card-img-top rounded-top", style: "height: 7rem; object-fit: cover;" %>
                  <% else %>
                    <img src="/images/avatar-padrao.jpg" class="card-img-top rounded-top" style="height: 7rem; object-fit: cover;" />
                  <% end %>
                </div>

                <div class="card-body">
                  <h6 class="fw-semibold" style="margin-top: -8px;"><%= aluno.nome %></h6>
                  <p class="card-text text-muted" style="font-size: 12px; margin-top: -8px; margin-bottom: -4px;"><%= aluno.email %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>
</main>
