<div style="margin-top: -30px;">
  <%= render 'vestibulares' %>

  <br>

  <div class="container">
    <div class="mb-3 ms-4 d-flex" style="width: 93%;">
      <i class="bi bi-play-btn fs-4" style="margin-top: -4px; margin-right: 8px; margin-left: 10px;"></i>
      <h2 class="ms-2" style="font-size: 21px; font-weight: 400;">Cursos</h2>
    </div>

    <hr class="text-dark" style="width: 95.6%; margin-left: 30px; margin-bottom: 30px; margin-top: -22px; opacity: 10%;">

    <% if flash[:noticia] %>
      <div class="alert alert-success alert-dismissible fade show text-center mb-4" role="alert" style="margin-top: -20px; margin-left: 30px; width: 95.7%">
        <%= flash[:noticia] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </div>

  <div class="container" style="margin-top: -12px">
    <% @cursos_collection.each do |curso| %>
      <div class="col align-items-center justify-content-center" style="margin-top: 10px; margin-left: 8px;" data-prova-nome="<%= curso.prova %>">
        <div class="container card shadow mb-2 rounded-4 hover p-2" style="width: 96.3%">
          <a href="/cursos/<%= curso.id %>/edit" style="text-decoration: none; color: black">
            <div class="row g-0">
              <div class="col-md-4 d-flex align-items-center justify-content-center">
              <% if curso.imagem.present? %>
                <%= image_tag curso.imagem, class: "", alt: curso.name, style: "max-height: 180px; max-width: 100%; object-fit: contain;" %>
              <% end %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 17px; font-weight: 350"><%= curso.name %></h5>
                  <strong class="mb-5" style="font-size: 16px; font-weight: 600;" >R$ <%= number_with_precision(curso.value, precision: 2, separator: ",") %></strong>
                  <span class="preco-riscado">R$ <%= number_with_precision(curso.value_riscado, precision: 2, separator: ",") %></span>

                  <div class="mt-2">
                    <% if current_user.present? %>
                      <% if current_user.user_cursos.where(curso_id: curso.id).present? %>
                        <span class="badge bg-success p-2" style="font-size: 11px; font-weight: 450;">✅ Comprado</span>
                      <% end %>
                    <% end %>
                    <span class="badge p-2" style="font-size: 11px; font-weight: 450;">⭐ Mais vendidos</span>
                  </div>

                  <div class="row mt-2">
                    <div class="col-12 col-md-5 mb-2">
                      <div class="item d-flex align-items-center">
                        <i class="bi bi-file-play fs-5 me-2"></i>
                        <span style="font-size: 11px;">20 horas de vídeo</span>
                      </div>
                    </div>

                    <div class="col-12 col-md-7 mb-2">
                      <div class="item d-flex align-items-center">
                        <i class="bi bi-phone fs-5 me-2"></i>
                        <span style="font-size: 11px;">Acesso no dispositivo móvel e na TV</span>
                      </div>
                    </div>

                    <div class="col-12 col-md-5 mb-2">
                      <div class="item d-flex align-items-center">
                        <i class="bi bi-trophy fs-5 me-2"></i>
                        <span style="font-size: 11px;">Certificado de conclusão</span>
                      </div>
                    </div>

                    <div class="col-12 col-md-7 mb-2">
                      <div class="item d-flex align-items-center">
                        <i class="bi bi-file-earmark-arrow-down fs-5 me-2"></i>
                        <span style="font-size: 11px;"><%= curso.words.count %> redações disponíveis para download</span>
                      </div>
                    </div>

                    <div class="col-12 col-md-5 mb-2">
                      <div class="item d-flex align-items-center">
                        <i class="bi bi-pen fs-5 me-2"></i>
                        <span style="font-size: 11px;">Correções aprofundadas</span>
                      </div>
                    </div>

                    <div class="col-12 col-md-7 mb-2">
                      <div class="item d-flex align-items-center">
                        <i class="bi bi-pen fs-5 me-2"></i>
                        <span style="font-size: 11px;">Correções aprofundadas e dinâmicas</span>
                      </div>
                    </div>
                  </div>


                  <% if current_user.present? %>
                    <% if current_user.cart.cart_cursos.where(curso_id: curso.id).present? %>
                      <%= button_tag class: "btn btn-success text-white p-1 position-absolute", style: "top: 10px; right: 10px; border-radius: 5px;" do %>
                        <i class="bi bi-cart-check fs-4"></i>
                      <% end %>
                    <% elsif current_user.user_cursos.where(curso_id: curso.id).present? %>
                      <!-- nenhum botão extra aqui -->
                    <% else %>
                      <%= form_with url: add_to_cart_path(curso), method: :post, local: true do %>
                        <%= button_tag type: "submit", class: "btn btn-dark text-white p-1 position-absolute", style: "top: 10px; right: 10px; border-radius: 5px;", onclick: "showLoadingAndRedirect()" do %>
                          <i class="bi bi-cart-plus fs-4"></i>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const urlParams = new URLSearchParams(window.location.search);
    const provaParam = urlParams.get('prova');

    if (provaParam) {
      const vestibularCards = document.querySelectorAll('.vestibular-card');

      vestibularCards.forEach((card) => {
        const cardProva = card.dataset.provaNome?.toLowerCase();
        if (cardProva === provaParam.toLowerCase()) {
          card.classList.add('highlighted');
        }
      });
    }
  });
</script>
