<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprova Redação</title>
  </head>
  <body>
    <nav>
      <%= render 'infinite_text' %>
      <div class="container">
        <div class="logo">
          <img src="/images/logo_preto.png" alt="Logo" style="margin-left: -25px; display: flex;">
        </div>
        <nav class="menu">
          <a href="/">Quem somos</a>
          <a href="/">Vestibulares</a>
          <a href="/">Colegial</a>
          <a href="/">Iniciante</a>
        </nav>
        <div class="navbar-buttons" style="margin-right: -15px; display: flex; gap: 10px;">
          <a href="/admin/dashboard" class="btn btn-light text-custom-nav">Quero me inscrever</a>
          <a href="/user/dashboard" class="btn btn-dark text-custom-nav">Já sou aluno</a>
        </div>
      </div>

      <hr class="custom-hr">
    </nav>

    <div class="container">
      <div class="card-welcome">
        <div class="banner row">
          <div class="carousel-section mt-3">
            <div class="carousel-wrapper position-relative">
              <button class="carousel-btn prev">&#10094;</button>
              <div class="carousel-container">
                <div class="carousel-track">
                  <% @cursos.each do |curso| %>
                    <a href="/cursos/<%= curso.id %>/edit">
                      <div class="curso-card">
                        <div class="curso-content">
                          <div class="curso-img">
                            <% if curso.imagem.present? %>
                              <%= image_tag curso.imagem.variant(resize_to_limit: [3000, 3000]).processed, style: "border-radius: 10px" %>
                            <% end %>
                          </div>
                          <div class="curso-texto">
                            <h5 style="text-dark"><%= curso.name.upcase %></h5>
                            <p class="text-dark"><%= simple_format(curso.description) %></p>
                          </div>
                        </div>
                      </div>
                    </a>
                  <% end %>
                </div>
              </div>
              <button class="carousel-btn next">&#10095;</button>
            </div>
          </div>
        </div>

        <%= render 'alunos_aprovados'%>
        </div>
      </div>
    <div>
    <footer class="footer">
      <div class="container">
        <p class="text-white mt-3">&copy; 2025 Aprova Redação. Todos os direitos reservados.</p>
      </div>
    </footer>
  </body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const track = document.querySelector('.carousel-track');
    const prevBtn = document.querySelector('.carousel-btn.prev');
    const nextBtn = document.querySelector('.carousel-btn.next');
    const container = document.querySelector('.carousel-container');

    let scrollAmount = 0;
    const scrollStep = container.offsetWidth * 0.94;

    nextBtn.addEventListener('click', () => {
      scrollAmount = Math.min(scrollAmount + scrollStep, track.scrollWidth - container.clientWidth);
      track.style.transform = `translateX(-${scrollAmount}px)`;
    });

    prevBtn.addEventListener('click', () => {
      scrollAmount = Math.max(scrollAmount - scrollStep, 0);
      track.style.transform = `translateX(-${scrollAmount}px)`;
    });
  });
</script>
