<div style="margin-top: -15px;">
  <div class="vestibulares margin-top-mobile-medium">
    <div class="vestibular">
      <div class="vestibular-card" data-prova-nome="unicamp">
        <a href="/temas?prova=unicamp" class="text-dark" style="text-decoration: none;">
          <img src="/images/unicamp.jpg" alt="Login image" />
        </a>
      </div>
      <div class="vestibular-card" data-prova-nome="enem">
        <a href="/temas?prova=enem" class="text-dark" style="text-decoration: none;">
          <img src="/images/enem-branco.jpg" alt="Login image" />
        </a>
      </div>
      <div class="vestibular-card" data-prova-nome="unesp">
        <a href="/temas?prova=unesp" class="text-dark" style="text-decoration: none;">
          <img src="/images/unesp.jpg" alt="Login image" />
        </a>
      </div>
      <div class="vestibular-card" data-prova-nome="usp">
        <a href="/temas?prova=usp" class="text-dark" style="text-decoration: none;">
          <img src="/images/usp.jpg" alt="Login image" />
        </a>
      </div>
    </div>
    <hr>
  </div>

  <br>

  <div class="container">
    <div class="mb-3 ms-4 d-flex margin-top-mobile-max title-redacao-mobile" style="width: 93%; margin-top: -20px;">
      <i class="bi bi-book-half fs-5 icon-mobile-size margin-top-mobile-icon" style="margin-top: -5px; margin-right: 6px; margin-left: 10px;"></i>
      <h2 class="ms-2 mobile-text-title" style="font-size: 16px; font-weight: 400;">Temas de Redação</h2>
    </div>

    <hr class="text-dark mobile-none" style="width: 95.6%; margin-left: 30px; margin-bottom: 10px; margin-top: -19px; opacity: 10%;">

    <div class="row gx-3 tema-card-mobile" style="margin-left: 25px; margin-right: 0; width: 97%;">
      <% @temas_collection.each do |tema| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex mb-3">
          <a href="/temas/<%= tema.id %>" class="redacoes-card d-flex flex-column align-items-center text-dark w-100" style="text-decoration: none;">
            <div class="meus-cursos-img position-relative w-100" style="border-radius: 10px;">
              <% if tema.capa.attached? %>
                <%= image_tag tema.capa, style: "max-height: 170px; width: 100%; object-fit: cover; border-radius: 10px 10px 0 0;" %>
                <% if current_user.present? %>
                  <% if @favoritos_ids.include?(tema.id) %>
                    <%= button_to remove_favoritos_path(tema_id: tema.id),
                                  method: :delete,
                                  class: "btn p-1 position-absolute top-0 end-0 m-2 favorite-button",
                                  style: "border: none;" do %>
                      <i class="bi bi-heart-fill text-danger fs-4" style="box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);"></i>
                    <% end %>
                  <% else %>
                    <%= button_to favoritos_path(tema_id: tema.id),
                                  method: :post,
                                  class: "btn p-1 position-absolute top-0 end-0 m-2 favorite-button",
                                  style: "border: none;" do %>
                      <i class="bi bi-heart-fill fs-4" style="color: #b6b6b6ff;"></i>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>

            <div class="w-100" style="padding: 10px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); border-radius: 0 0 10px 10px; min-height: 50px;">
              <h6 class="text-dark mb-0" style="font-size: 14px;"><strong style="font-size: 12px; margin-right: 1px; font-weight: 679"><%= tema.prova.upcase %></strong> <%= tema.name %></h6>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const urlParams = new URLSearchParams(window.location.search);
    const provaParam = urlParams.get('prova');

    if (provaParam) {
      const vestibularCards = document.querySelectorAll('.vestibular-card');

      vestibularCards.forEach((card) => {
        const cardProva = card.dataset.provaNome?.toLowerCase();
        if (cardProva === provaParam.toLowerCase()) {
          card.classList.add('highlighted');
        }
      });
    }
  });
</script>
