<% if flash[:noticia] %>
  <div class="alert alert-success alert-dismissible fade show text-center" role="alert" style="margin-top: 9px; margin-left: 17px; width: 95.5%">
    <%= flash[:noticia] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<h5 class="mt-3" href="/">
  <i class="bi bi-search fs-4" style="margin-right: 10px; margin-left: 22px"></i>
  <span style="position: relative; top: -2px; font-size: 18px;">Explorar</span>
</h5>

<div class="full-width-container d-flex flex-wrap" style="display: flex; gap: 20px; width: 100%; margin-left: 17px; margin-top: -8px;">
  <div style="flex-direction: column; width: 66.5%;">
    <% @all_cursos.each do |curso| %>
      <div class="col align-items-center justify-content-center" style="margin-top: 14px;">
        <div class="container card shadow mb-2 rounded-4 w-100 hover p-2">
          <a href="/cursos/<%= curso.id %>/edit" style="text-decoration: none; color: black">
            <div class="row g-0">
              <div class="col-md-4 d-flex align-items-center justify-content-center">
                <%= image_tag curso.imagem, class: "", alt: curso.name, style: "max-height: 180px; max-width: 100%; object-fit: contain;" %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 17px; font-weight: 350"><%= curso.name %></h5>
                  <strong class="mb-5" style="font-size: 16px; font-weight: 600;" >R$ <%= number_with_precision(curso.value, precision: 2, separator: ",") %></strong>
                  <span class="preco-riscado">R$ 199,99</span>

                  <div class="mt-2">
                    <% if current_user.user_cursos.where(curso_id: curso.id).present? %>
                      <span class="badge bg-success p-2" style="font-size: 12px; font-weight: 400;">Comprado ✅</span>
                    <% end %>
                    <span class="badge p-2" style="font-size: 12px; font-weight: 400;">Mais vendidos ⭐</span>
                  </div>

                  <div class="row mt-3">
                    <div class="col-12 col-md-5 mb-2">
                      <div class="item d-flex align-items-center">
                        <i class="bi bi-file-play fs-5 me-2"></i>
                        <span style="font-size: 12px;">20 horas de vídeo</span>
                      </div>
                    </div>

                    <div class="col-12 col-md-7 mb-2">
                      <div class="item d-flex align-items-center">
                        <i class="bi bi-phone fs-5 me-2"></i>
                        <span style="font-size: 12px;">Acesso no dispositivo móvel e na TV</span>
                      </div>
                    </div>

                    <div class="col-12 col-md-5 mb-2">
                      <div class="item d-flex align-items-center">
                        <i class="bi bi-trophy fs-5 me-2"></i>
                        <span style="font-size: 12px;">Certificado de conclusão</span>
                      </div>
                    </div>

                    <div class="col-12 col-md-7 mb-2">
                      <div class="item d-flex align-items-center">
                        <i class="bi bi-file-earmark-arrow-down fs-5 me-2"></i>
                        <span style="font-size: 12px;"><%= curso.words.count %> redações disponíveis para download</span>
                      </div>
                    </div>

                    <div class="col-12 col-md-5 mb-2">
                      <div class="item d-flex align-items-center">
                        <i class="bi bi-pen fs-5 me-2"></i>
                        <span style="font-size: 12px;">Correções aprofundadas</span>
                      </div>
                    </div>

                    <div class="col-12 col-md-7 mb-2">
                      <div class="item d-flex align-items-center">
                        <i class="bi bi-pen fs-5 me-2"></i>
                        <span style="font-size: 12px;">Correções aprofundadas e dinâmicas</span>
                      </div>
                    </div>
                  </div>

                  <% if current_user.cart.cart_cursos.where(curso_id: curso.id).present? %>
                    <%= button_tag class: "btn btn-success text-white p-1 position-absolute", style: "top: 20px; right: 20px; border-radius: 5px;" do %>
                      <i class="bi bi-cart-check fs-4"></i>
                    <% end %>
                  <% elsif current_user.user_cursos.where(curso_id: curso.id).present? %>
                    <!-- nenhum botão extra aqui -->
                  <% else %>
                    <%= form_with url: add_to_cart_path(curso), method: :post, local: true do %>
                      <%= button_tag type: "submit", class: "btn btn-dark text-white p-1 position-absolute", style: "top: 10px; right: 10px; border-radius: 5px;", onclick: "showLoadingAndRedirect()" do %>
                        <i class="bi bi-cart-plus fs-4"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>

  <div style="width: 27.5%;">
    <div class="card-filter mt-3 bg-white p-2" style="min-height: 98.2%">
      <h5 class="mt-3">
        <i class="bi bi-search fs-5" style="margin-right: 10px; margin-left: 22px"></i>
        <span style="position: relative; top: -1px; font-size: 18px;">Filtros rápidos</span>
      </h5>

      <%= form_with url: user_explorar_path, method: :get, local: true do |form| %>
        <div class="form-group px-4 mt-4">
          <% ['enem', 'usp', 'unicamp', 'unesp'].each do |prova| %>
            <div class="form-check form-switch mt-2">
              <%= check_box_tag 'prova[]', prova, Array(params[:prova]).include?(prova), class: 'form-check-input', id: "prova_#{prova}" %>
              <%= label_tag "prova_#{prova}", prova.capitalize, class: 'form-check-label mx-2' %>
            </div>
          <% end %>

          <div class="mt-4 w-100">
            <button type="submit" class="btn btn-dark w-100">
              <i class="bi bi-search fs-4"></i>
            </button>
          </div>

          <div class="mt-3">
            <button
              class="btn btn-toggle text-dark border-0 bg-transparent px-0 d-flex align-items-center"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#orderFilter"
              aria-expanded="false"
              aria-controls="orderFilter"
            >
              <i class="bi bi-chevron-down me-2 transition" id="orderArrow" style="transition: transform 0.3s;"></i>
              Ordernar por
            </button>

            <div class="collapse mt-2" id="orderFilter">
              <div class="col-4">
                <%= form.label "Ordernar por", class: "form-label fw-light" %>
                <div class="d-flex align-items-center" style="gap: 5px;">
                  <%= form.select :order_by, options_for_select([["Enem", "enem"], ["Fuvest", "usp"]]), class: "form-select form-select-sm select2-order", style: "margin-top: -8px" %>
                  <button type="button" class="btn btn-sm btn-danger" id="limpar-order" title="Limpar seleção" style="margin-top: -8px">
                    ✕
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-3">
            <button
              class="btn btn-toggle text-dark border-0 bg-transparent px-0 d-flex align-items-center"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#priceFilter"
              aria-expanded="false"
              aria-controls="priceFilter"
            >
              <i class="bi bi-chevron-down me-2 transition" id="priceArrow" style="transition: transform 0.3s;"></i>
              Filtros avançados
            </button>

            <div class="collapse mt-2" id="priceFilter">
              <div class="d-flex" style="gap: 10px;">
                <input type="number" step="0.01" name="preco_min" class="form-control form-control-sm" placeholder="Mín.">
                <input type="number" step="0.01" name="preco_max" class="form-control form-control-sm" placeholder="Máx.">
              </div>
            </div>
          </div>

        </div>
      <% end %>
    </div>
    <br>
  </div>
</div>

<div class="loader" id="loadingOverlay">
  <div class="spinner-loader"></div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const collapseEl = document.getElementById("priceFilter");
    const arrow = document.getElementById("priceArrow");

    if (collapseEl) {
      collapseEl.addEventListener("show.bs.collapse", () => {
        arrow.style.transform = "rotate(180deg)";
      });

      collapseEl.addEventListener("hide.bs.collapse", () => {
        arrow.style.transform = "rotate(0deg)";
      });
    }
  });

  document.addEventListener("DOMContentLoaded", function () {
    const collapseEl = document.getElementById("orderFilter");
    const arrow = document.getElementById("orderArrow");

    if (collapseEl) {
      collapseEl.addEventListener("show.bs.collapse", () => {
        arrow.style.transform = "rotate(180deg)";
      });

      collapseEl.addEventListener("hide.bs.collapse", () => {
        arrow.style.transform = "rotate(0deg)";
      });
    }
  });

  function showLoadingAndRedirect() {
    const overlay = document.getElementById('loadingOverlay');
    overlay.style.display = 'flex';

    setTimeout(() => {
      window.location.href = "";
      overlay.style.display = 'none';
    }, 1000);
  }

  $(document).ready(function() {
    $('#order_by').select2({
      placeholder: 'Ordenar por',
      minimumResultsForSearch: Infinity // oculta a barra de pesquisa
    });
  });
</script>
