<div class="player-navbar d-flex align-items-center" style="gap: 15px">
  <div class="navbar-left d-flex align-items-center p-2">
    <a href="/user/dashboard" class="text-white d-flex" style="text-decoration: none;">
      <i class="bi bi-box-arrow-left" style="margin-top: 44px; margin-right: 10px; font-size: 38px"></i>
      <img src="/images/logo.png" alt="Logo" class="navbar-logo" />
    </a>
  </div>

  <div class="vertical-line"></div>

  <a href="/cursos/<%= @curso.id%>/edit" class="course-title-card me-auto p-3" style="text-decoration: none; color: white">
    <span class="course-title"><%= @curso.name %></span>
  </a>

  <div class="navbar-right d-flex gap-2">
    <!-- Botão Progresso -->
    <div class="btn btn-outline-dark text-white progress-button" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#progressModal">
      <i class="bi bi-trophy fs-4 me-1"></i>
      <span style="position: relative; top: -4px;">Seu progresso</span>
    </div>

    <!-- Botão Compartilhar -->
    <div class="btn btn-outline-dark text-white compartilhar-button" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#compartilharModal">
      <i class="bi bi-share fs-4 me-1"></i>
      <span style="position: relative; top: -4px;">Compartilhar</span>
    </div>

    <!-- Botão Configurações -->
    <div class="settings-dropdown">
      <button class="btn btn-outline-dark settings-dropdown-button p-2 text-white" aria-label="Menu de configurações" id="settingsDropdownToggle">
        <i class="bi bi-three-dots-vertical fs-4"></i>
      </button>

      <div class="settings-dropdown-menu" id="settingsDropdownMenu" style="z-index: 1101">
        <div class="arrow-up"></div>
        <%= link_to "/admin/cursos/#{@curso.id}/edit" do %>
          <i class="bi bi-pencil fs-6" style="margin-right: 10px;"></i>
          Editar curso
        <% end %>
        <%= link_to '' do %>
          <i class="bi bi-gift fs-6" style="margin-right: 10px;"></i>
          Enviar presente
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="progress-dropdown" class="card progress-dropdown" style="width: 100%;">
  <div class="card-body">
    <h6 style="margin-top: -9px"><%= @user_curso.total_aulas_vistas %> de <%= @user_curso.total_aulas %> concluído! Conclua o curso para obter o seu certificado</h6>
  </div>
</div>

<div class="video-player-container">
  <div class="video-title-overlay" id="aulaAtivaTitulo"></div>

  <div class="video-player">
    <div class="video-border-overlay"></div>

    <video id="videoPlayer" controls disablePictureInPicture controlsList="nodownload noremoteplayback">
      <source id="videoSource" src="" type="video/mp4">
      Seu navegador não suporta vídeo
    </video>

    <div id="loadingOverlay" style="display: none;">
      <div class="loading-content">
        <svg class="spinner" viewBox="0 0 50 50">
          <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="4"/>
        </svg>

        <button id="skipButton" class="play-button">
          <i class="bi bi-play-fill"></i>
        </button>

        <div id="countdownTimer" class="countdown-timer">5s</div>
      </div>
    </div>

    <div id="redacaoOverlay" style="display: none; position: absolute; inset: 0; background: rgba(141, 141, 141, 0.85); z-index: 1100; align-items: center; justify-content: center; flex-direction: column; color: white;">
      <h3>Esta aula é uma redação</h3>
      <div style="margin-top: 10px;">
        <a id="btnRedacao" class="btn btn-primary w-100 mb-2 shadow">
          <i class="bi bi-book fs-6"></i>
          <span style="margin-top: -10px; margin-left: 3px">Ir para redação</span>
        </a>
        <button id="btnProximaVideo" class="btn btn-dark w-100 shadow">
          <i class="bi bi-play-circle fs-6"></i>
          <span style="margin-top: -10px; margin-left: 3px">Próximo vídeo</span>
        </button>
      </div>
    </div>

  </div>
</div>

<!-- MODAL DE PROGRESSO -->
<div class="modal fade" id="progressModal" tabindex="-1" aria-labelledby="progressModalLabel" aria-hidden="true" style="z-index: 1101">
  <div class="modal-dialog modal-md">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title" id="progressModalLabel">Seu Progresso</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>

      <div class="modal-body d-flex mt-3" style="gap: 40px">
        <div style="width: 50%; height: 100%">
          <canvas id="progressChart" class="text-center" style="width: 90%; height: 50%;"></canvas>
          <p class="mt-3 fs-6 mx-3 text-success">Você já assistiu <strong><%= @user_curso.progresso %>%</strong></p>
        </div>
        <div style="width: 50%;">
          <div class="w-100 d-flex">
            <p class="mt-3 fs-2"><%= @user_curso.total_aulas_vistas %>/<%= @user_curso.total_aulas %></p>
            <p class="mt-4 fs-5 mx-2 text-secondary"> Aulas</p>
          </div>
          <div class="w-100 d-flex">
            <p class="mt-3 fs-2">0/<%= @user_curso.curso.words.count %></p>
            <p class="mt-4 fs-5 mx-2 text-secondary"> Redações</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Compartilhar -->
<div class="modal fade" id="compartilharModal" tabindex="-1" aria-labelledby="compartilharModalLabel" aria-hidden="true" style="z-index: 1101">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="progressModalLabel">Compartilhar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-2">
          <input type="text" id="shareLink" class="form-control" readonly value="http://localhost:3000/cursos/<%= @curso.id %>/edit">
          <button class="btn btn-primary" id="copyBtn">Copiar</button>
        </div>
        <div id="copyFeedback" class="text-muted small" style="display: none;">Link copiado</div>

        <div class="footer-links d-flex mt-3 mx-1" style="gap: 25px">
          <div class="icon-footer">
            <a href="" class="text-dark" style="text-decoration: none;">
              <i class="bi bi-instagram fs-1"></i>
            </a>
          </div>
          <div class="icon-footer">
            <a href="" class="text-dark" style="text-decoration: none;">
              <i class="bi bi-linkedin fs-1"></i>
            </a>
          </div>
          <div class="icon-footer">
            <a href="" class="text-dark" style="text-decoration: none;">
              <i class="bi bi-facebook fs-1"></i>
            </a>
          </div>
          <div class="icon-footer">
            <a href="" class="text-dark" style="text-decoration: none;">
              <i class="bi bi-youtube fs-1"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const button = document.getElementById("progress-button");
    const dropdown = document.getElementById("progress-dropdown");

    let isOpen = false;

    button.addEventListener("click", () => {
      if (!isOpen) {
        // Mostrar e iniciar animação
        dropdown.classList.add("visible");
        setTimeout(() => dropdown.classList.add("open"), 10);
      } else {
        // Fechar animação e depois esconder
        dropdown.classList.remove("open");
        setTimeout(() => dropdown.classList.remove("visible"), 400); // 400ms = tempo da transição
      }

      isOpen = !isOpen;
    });
  });

  document.addEventListener("DOMContentLoaded", function () {
    const toggleButton = document.getElementById("settingsDropdownToggle");
    const dropdownMenu = document.getElementById("settingsDropdownMenu");

    toggleButton.addEventListener("click", function (e) {
      e.stopPropagation(); // evita fechar na hora de abrir
      dropdownMenu.style.display = dropdownMenu.style.display === "block" ? "none" : "block";
    });

    document.addEventListener("click", function (e) {
      if (!dropdownMenu.contains(e.target) && e.target !== toggleButton) {
        dropdownMenu.style.display = "none";
      }
    });
  });

  document.addEventListener("DOMContentLoaded", function () {
    setTimeout(() => {
      const modal = document.getElementById('progressModal');
      const progresso = <%= @user_curso.progresso || 0 %>;

      if (!modal) return; // Evita erro se modal não estiver presente

      modal.addEventListener('shown.bs.modal', function () {
        const ctx = document.getElementById('progressChart').getContext('2d');

        if (window.myProgressChart) {
          window.myProgressChart.destroy();
        }

        window.myProgressChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: ['Assistido', 'Restante'],
            datasets: [{
              data: [progresso, 100 - progresso],
              backgroundColor: ['#4CAF50', '#e0e0e0'],
              borderWidth: 0
            }]
          },
          options: {
            cutout: '70%',
            responsive: false,
            plugins: {
              legend: { display: false }
            }
          }
        });
      });
    }, 100); // pequeno delay pra garantir que o modal foi renderizado
  });

  document.addEventListener("DOMContentLoaded", () => {
    const copyBtn = document.getElementById("copyBtn");
    const shareLink = document.getElementById("shareLink");
    const copyFeedback = document.getElementById("copyFeedback");

    copyBtn.addEventListener("click", () => {
      shareLink.select();
      document.execCommand("copy");
      copyFeedback.style.display = "block";
      setTimeout(() => {
        copyFeedback.style.display = "none";
      }, 2000);
    });
  });

</script>
