<h5 class="mt-3 text-dark" href="/" style="margin-left: 20px">
  <i class="bi bi-book-half fs-4" style="margin-right: 10px"></i>
  <span style="position: relative; top: -2px;">Conteúdo do Curso</span>
</h5>

<p class="fw-light text-secondary" style="margin-left: 20px"><%= @modulos.count %> Módulos • <%= @curso.aulas.count %> Aulas • Duração Total: 20h 34min</p>

<div class="accordion" id="modulosAccordion">
  <% @curso.modulos.each_with_index do |modulo, index| %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading-<%= index %>">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= index %>" aria-expanded="false" aria-controls="collapse-<%= index %>">
          <%= modulo.titulo %>
        </button>
      </h2>
      <div id="collapse-<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading-<%= index %>">
        <div class="accordion-body">
          <ul class="list-group list-group-flush"  style="gap: 10px">
            <% modulo.aulas.each do |aula| %>
              <% watched = current_user.user_aulas.exists?(aula_id: aula.id, watched: true) %>
              <li class="list-group-item" style="background-color: whitesmoke; border: 10px; border-radius: 5px">
                <div>
                  <%= check_box_tag "watched_aula_#{aula.id}", aula.id, watched, class: "watched-checkbox", data: { aula_id: aula.id, curso_id: @curso.id } %>
                  <a href="" class="aula-link fw-light" style="text-decoration: none; padding: 1px; margin-left: 5px" data-aula-id="<%= aula.id %>" data-curso-id="<%= @curso.id %>" data-video-url="<%= aula.video.attached? ? url_for(aula.video) : "" %>">
                    <%= aula.titulo %>
                  </a>
                </div>
              </li>

              <% if aula.word_id.present? %>
                <div class="list-group-item" style="background-color: whitesmoke; border: 10px; border-radius: 5px">
                  <div class="p-0" style="margin-bottom: -30px;">
                    <% if current_user.user_words.where(word_id: aula.word_id, concluido: false).last.present? %>
                      <a class="d-flex" style="text-decoration: none; margin-bottom: -20px;">
                        <i class="bi bi-pencil-square fs-6 text-danger"></i>
                        <strong class="text-danger" style="font-size: 12px; margin-left: 6px; margin-top: 3px; font-weight: 500">Redação pendente</strong>
                      </a>
                    <% else %>
                      <a class="d-flex" style="text-decoration: none; margin-bottom: -20px;">
                        <i class="bi bi-check2-square fs-6 text-success"></i>
                        <strong class="text-success" style="font-size: 12px; margin-left: 6px; margin-top: 3px; font-weight: 500">Redação concluída</strong>
                      </a>
                    <% end %>

                    <a href="/user/words/<%= aula.word_id %>/proposta"
                      class="aula-link fw-light"
                      data-video-url=""
                      style="text-decoration: none; padding: 1px; margin-left: 5px;">
                      <p style="font-size: 15px;"><%= aula.word.tema %></p>
                    </a>
                  </div>
                </div>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
