<!DOCTYPE html>
<html>
  <head>
    <title>Crie ou logue na sua conta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "welcome", media: "all" %>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'main', defer: true %>

    <div class="loader" id="loadingOverlay">
      <div class="spinner-loader"></div>
    </div>
  </body>
</html>
