<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Aprova Redação" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>

    <%= yield :head %>

    <link rel="icon" href="/images/icone_pagina.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- Video.js CSS -->
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />

    <!-- Video.js JS -->
    <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
    <%= stylesheet_link_tag "freights", media: "all" %>
    <%= stylesheet_link_tag "welcome", media: "all" %>
  </head>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
  </script>

  <body>
    <%= render partial: "layouts/shared/header" %>

    <%= yield %>

    <br><br>
    <footer class="footer">
    <div class="container container-flex no-margin-top">
      <div class="logo-section">
        <img src="/images/logo.png" alt="Aprova Total" class="logo" />
        <%# <p>Transformando sonhos em aprovações</p> %>
      </div>
      <div class="footer-links">
        <div class="icon-footer">
          <a href="" class="text-white" style="text-decoration: none;">
            <i class="bi bi-instagram fs-2"></i>
          </a>
        </div>
        <div class="icon-footer">
          <a href="" class="text-white" style="text-decoration: none;">
            <i class="bi bi-linkedin fs-2"></i>
          </a>
        </div>
        <div class="icon-footer">
          <a href="" class="text-white" style="text-decoration: none;">
            <i class="bi bi-facebook fs-2"></i>
          </a>
        </div>
        <div class="icon-footer">
          <a href="" class="text-white" style="text-decoration: none;">
            <i class="bi bi-youtube fs-2"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="contact-info">
        <p><strong>Números Oficiais de Vendas:</strong> (19) 99246-0527 | (19) 99246-0527</p>
      </div>
      <div class="copyright" style="margin-top: -5px">
        <p>Copyright © 2025 Aprova Redação</p>
      </div>
    </div>
    </footer>

    <div class="loader" id="loadingOverlay">
      <div class="spinner-loader"></div>
    </div>
  </body>
</html>
